--Loaded your LOCAL configuration at [D:\ART_Package_V3\LocalFiles\superset_config.py]
-- =====================================================
-- COMPLETE DDL SCRIPT FOR ORACLE DATABASE
-- Extract and run BEFORE starting Superset project
-- =====================================================

-- SEQUENCES
-- =====================================================
CREATE SEQUENCE AB_PERMISSION_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE AB_VIEW_MENU_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE AB_PERMISSION_VIEW_ROLE_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE AB_ROLE_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE AB_PERMISSION_VIEW_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE AB_USER_ROLE_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE AB_USER_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE AB_REGISTER_USER_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE CACHE_KEYS_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE KEYVALUE_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE CSS_TEMPLATES_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE DBS_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE DATABASE_USER_OAUTH2_TOKENS_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE LOGS_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE FAVSTAR_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE DYNAMIC_PLUGIN_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE QUERY_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE SAVED_QUERY_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE TAB_STATE_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE TABLE_SCHEMA_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE USER_ATTRIBUTE_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE TAG_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE TAGGED_OBJECT_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE ANNOTATION_LAYER_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE ANNOTATION_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE SLICE_USER_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE SLICES_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE TABLE_COLUMNS_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE SQL_METRICS_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE SQLATABLE_USER_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE TABLES_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE RLS_FILTER_ROLES_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE RLS_FILTER_TABLES_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE ROW_LEVEL_SECURITY_FILTERS_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE DASHBOARD_SLICES_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE DASHBOARD_USER_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE DASHBOARD_ROLES_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE DASHBOARDS_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE REPORT_SCHEDULE_USER_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE REPORT_SCHEDULE_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE REPORT_RECIPIENT_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE REPORT_EXECUTION_LOG_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE SSH_TUNNELS_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE EMBEDDED_DASHBOARDS_UUID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE KEY_VALUE_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE GUEST_USER_TOKENS_ID_SEQ START WITH 1 INCREMENT BY 1;
--CREATE SEQUENCE AB_USER_ID_SEQ START WITH 1 INCREMENT BY 1;
--CREATE SEQUENCE AB_ROLE_ID_SEQ START WITH 1 INCREMENT BY 1;
--CREATE SEQUENCE AB_PERMISSION_ID_SEQ START WITH 1 INCREMENT BY 1;
--CREATE SEQUENCE AB_VIEW_MENU_ID_SEQ START WITH 1 INCREMENT BY 1;
--CREATE SEQUENCE AB_PERMISSION_VIEW_ID_SEQ START WITH 1 INCREMENT BY 1;
--CREATE SEQUENCE AB_REGISTER_USER_ID_SEQ START WITH 1 INCREMENT BY 1;

-- FLASK-APPBUILDER SECURITY TABLES
-- =====================================================
-- Table: ab_user

CREATE TABLE ab_user (
	id INTEGER NOT NULL, 
	first_name VARCHAR2(64 CHAR) NOT NULL, 
	last_name VARCHAR2(64 CHAR) NOT NULL, 
	username VARCHAR2(64 CHAR) NOT NULL, 
	password VARCHAR2(256 CHAR), 
	active SMALLINT, 
	email VARCHAR2(320 CHAR) NOT NULL, 
	last_login DATE, 
	login_count INTEGER, 
	fail_login_count INTEGER, 
	created_on DATE, 
	changed_on DATE, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (username), 
	UNIQUE (email), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
)


;

-- Table: ab_role

CREATE TABLE ab_role (
	id INTEGER NOT NULL, 
	name VARCHAR2(64 CHAR) NOT NULL, 
	PRIMARY KEY (id), 
	UNIQUE (name)
)


;

-- Table: ab_permission

CREATE TABLE ab_permission (
	id INTEGER NOT NULL, 
	name VARCHAR2(100 CHAR) NOT NULL, 
	PRIMARY KEY (id), 
	UNIQUE (name)
)


;

-- Table: ab_view_menu

CREATE TABLE ab_view_menu (
	id INTEGER NOT NULL, 
	name VARCHAR2(250 CHAR) NOT NULL, 
	PRIMARY KEY (id), 
	UNIQUE (name)
)


;

-- Table: ab_permission_view

CREATE TABLE ab_permission_view (
	id INTEGER NOT NULL, 
	permission_id INTEGER, 
	view_menu_id INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (permission_id, view_menu_id), 
	FOREIGN KEY(permission_id) REFERENCES ab_permission (id), 
	FOREIGN KEY(view_menu_id) REFERENCES ab_view_menu (id)
)


;

-- Table: ab_user_role

CREATE TABLE ab_user_role (
	id INTEGER NOT NULL, 
	user_id INTEGER, 
	role_id INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (user_id, role_id), 
	FOREIGN KEY(user_id) REFERENCES ab_user (id), 
	FOREIGN KEY(role_id) REFERENCES ab_role (id)
)


;

-- Table: ab_permission_view_role

CREATE TABLE ab_permission_view_role (
	id INTEGER NOT NULL, 
	permission_view_id INTEGER, 
	role_id INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (permission_view_id, role_id), 
	FOREIGN KEY(permission_view_id) REFERENCES ab_permission_view (id), 
	FOREIGN KEY(role_id) REFERENCES ab_role (id)
)


;

-- Table: ab_register_user

CREATE TABLE ab_register_user (
	id INTEGER NOT NULL, 
	first_name VARCHAR2(64 CHAR) NOT NULL, 
	last_name VARCHAR2(64 CHAR) NOT NULL, 
	username VARCHAR2(64 CHAR) NOT NULL, 
	password VARCHAR2(256 CHAR), 
	email VARCHAR2(64 CHAR) NOT NULL, 
	registration_date DATE, 
	registration_hash VARCHAR2(256 CHAR), 
	PRIMARY KEY (id), 
	UNIQUE (username)
)


;

-- SUPERSET APPLICATION TABLES
-- =====================================================
-- Table: cache_keys

CREATE TABLE cache_keys (
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	cache_key VARCHAR2(256 CHAR) NOT NULL, 
	cache_timeout INTEGER, 
	datasource_uid VARCHAR2(64 CHAR) NOT NULL, 
	created_on DATE, 
	PRIMARY KEY (id)
)


;

-- Table: keyvalue

CREATE TABLE keyvalue (
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	value CLOB NOT NULL, 
	PRIMARY KEY (id)
)


;

-- Table: css_templates

CREATE TABLE css_templates (
	uuid CHAR(36) NOT NULL, 
	created_on DATE, 
	changed_on DATE, 
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	template_name VARCHAR2(250 CHAR), 
	css CLOB, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (uuid), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
)


;

-- Table: dbs

CREATE TABLE dbs (
	uuid CHAR(36) NOT NULL, 
	created_on DATE, 
	changed_on DATE, 
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	verbose_name VARCHAR2(250 CHAR), 
	database_name VARCHAR2(250 CHAR) NOT NULL, 
	sqlalchemy_uri VARCHAR2(1024 CHAR) NOT NULL, 
	password BLOB, 
	cache_timeout INTEGER, 
	select_as_create_table_as SMALLINT, 
	expose_in_sqllab SMALLINT, 
	configuration_method VARCHAR2(255 CHAR) DEFAULT 'sqlalchemy_form', 
	allow_run_async SMALLINT, 
	allow_file_upload SMALLINT, 
	allow_ctas SMALLINT, 
	allow_cvas SMALLINT, 
	allow_dml SMALLINT, 
	force_ctas_schema VARCHAR2(250 CHAR), 
	extra CLOB, 
	encrypted_extra BLOB, 
	impersonate_user SMALLINT, 
	server_cert BLOB, 
	is_managed_externally SMALLINT NOT NULL, 
	external_url CLOB, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (database_name), 
	UNIQUE (uuid), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
)


;

-- Table: database_user_oauth2_tokens

CREATE TABLE database_user_oauth2_tokens (
	created_on DATE, 
	changed_on DATE, 
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	user_id INTEGER NOT NULL, 
	database_id INTEGER NOT NULL, 
	access_token BLOB, 
	access_token_expiration DATE, 
	refresh_token BLOB, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES ab_user (id) ON DELETE CASCADE, 
	FOREIGN KEY(database_id) REFERENCES dbs (id) ON DELETE CASCADE, 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
)


;

-- Table: logs

CREATE TABLE logs (
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	action VARCHAR2(512 CHAR), 
	user_id INTEGER, 
	dashboard_id INTEGER, 
	slice_id INTEGER, 
	json CLOB, 
	dttm DATE, 
	duration_ms INTEGER, 
	referrer VARCHAR2(1024 CHAR), 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES ab_user (id)
)


;

-- Table: favstar

CREATE TABLE favstar (
	uuid CHAR(36) NOT NULL, 
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	user_id INTEGER, 
	class_name VARCHAR2(50 CHAR), 
	obj_id INTEGER, 
	dttm DATE, 
	PRIMARY KEY (id), 
	UNIQUE (uuid), 
	FOREIGN KEY(user_id) REFERENCES ab_user (id)
)


;

-- Table: dynamic_plugin

CREATE TABLE dynamic_plugin (
	created_on DATE, 
	changed_on DATE, 
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	name VARCHAR2(512 CHAR) NOT NULL, 
	key VARCHAR2(512 CHAR) NOT NULL, 
	bundle_url VARCHAR2(512 CHAR) NOT NULL, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (name), 
	UNIQUE (key), 
	UNIQUE (bundle_url), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
)


;

-- Table: query

CREATE TABLE query (
	extra_json CLOB, 
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	client_id VARCHAR2(11 CHAR) NOT NULL, 
	tmp_table_name VARCHAR2(256 CHAR), 
	tmp_schema_name VARCHAR2(256 CHAR), 
	status VARCHAR2(256 CHAR), 
	tab_name VARCHAR2(256 CHAR), 
	sql_editor_id VARCHAR2(256 CHAR), 
	"schema" VARCHAR2(256 CHAR), 
	catalog VARCHAR2(256 CHAR), 
	limiting_factor VARCHAR(18 CHAR) DEFAULT 'UNKNOWN', 
	ctas_method VARCHAR2(256 CHAR), 
	results_key VARCHAR2(64 CHAR), 
	start_time NUMBER(20, 6), 
	start_running_time NUMBER(20, 6), 
	end_time NUMBER(20, 6), 
	end_result_backend_time NUMBER(20, 6), 
	"sql" CLOB, 
	"limit" INTEGER, 
	"rows" INTEGER, 
	database_id INTEGER NOT NULL, 
	user_id INTEGER, 
	select_sql CLOB, 
	executed_sql CLOB, 
	select_as_cta SMALLINT, 
	select_as_cta_used SMALLINT, 
	progress INTEGER, 
	error_message CLOB, 
	tracking_url CLOB, 
	changed_on DATE, 
	PRIMARY KEY (id), 
	UNIQUE (client_id), 
	FOREIGN KEY(database_id) REFERENCES dbs (id), 
	FOREIGN KEY(user_id) REFERENCES ab_user (id)
)


;

-- Table: saved_query

CREATE TABLE saved_query (
	uuid CHAR(36) NOT NULL, 
	created_on DATE, 
	changed_on DATE, 
	extra_json CLOB, 
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	user_id INTEGER, 
	db_id INTEGER, 
	catalog VARCHAR2(256 CHAR), 
	label VARCHAR2(256 CHAR), 
	description CLOB, 
	"schema" VARCHAR2(128 CHAR), 
	"sql" CLOB, 
	"rows" INTEGER, 
	template_parameters CLOB, 
	last_run DATE, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (uuid), 
	FOREIGN KEY(user_id) REFERENCES ab_user (id), 
	FOREIGN KEY(db_id) REFERENCES dbs (id), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
)


;

-- Table: tab_state

CREATE TABLE tab_state (
	created_on DATE, 
	changed_on DATE, 
	extra_json CLOB, 
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	user_id INTEGER, 
	label VARCHAR2(256 CHAR), 
	active SMALLINT, 
	database_id INTEGER, 
	catalog VARCHAR2(256 CHAR), 
	"sql" CLOB, 
	"schema" VARCHAR2(256 CHAR), 
	query_limit INTEGER, 
	latest_query_id VARCHAR2(11 CHAR), 
	autorun SMALLINT, 
	template_params CLOB, 
	hide_left_bar SMALLINT, 
	saved_query_id INTEGER, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES ab_user (id), 
	FOREIGN KEY(database_id) REFERENCES dbs (id) ON DELETE CASCADE, 
	FOREIGN KEY(latest_query_id) REFERENCES query (client_id) ON DELETE SET NULL, 
	FOREIGN KEY(saved_query_id) REFERENCES saved_query (id) ON DELETE SET NULL, 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
)


;

-- Table: table_schema

CREATE TABLE table_schema (
	created_on DATE, 
	changed_on DATE, 
	extra_json CLOB, 
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	tab_state_id INTEGER, 
	database_id INTEGER NOT NULL, 
	"schema" VARCHAR2(256 CHAR), 
	"table" VARCHAR2(256 CHAR), 
	catalog VARCHAR2(256 CHAR), 
	description CLOB, 
	expanded SMALLINT, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	FOREIGN KEY(tab_state_id) REFERENCES tab_state (id) ON DELETE CASCADE, 
	FOREIGN KEY(database_id) REFERENCES dbs (id) ON DELETE CASCADE, 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
)


;


-- Table: dashboards

CREATE TABLE dashboards (
	uuid CHAR(36) NOT NULL, 
	created_on DATE, 
	changed_on DATE, 
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	dashboard_title VARCHAR2(500 CHAR), 
	position_json CLOB, 
	description CLOB, 
	css CLOB, 
	certified_by CLOB, 
	certification_details CLOB, 
	json_metadata CLOB, 
	slug VARCHAR2(255 CHAR), 
	published SMALLINT, 
	is_managed_externally SMALLINT NOT NULL, 
	external_url CLOB, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (uuid), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
)


;


-- Table: user_attribute

CREATE TABLE user_attribute (
	created_on DATE, 
	changed_on DATE, 
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	user_id INTEGER, 
	welcome_dashboard_id INTEGER, 
	avatar_url VARCHAR2(100 CHAR), 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES ab_user (id), 
	FOREIGN KEY(welcome_dashboard_id) REFERENCES dashboards (id), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
)


;

-- Table: tag

CREATE TABLE tag (
	created_on DATE, 
	changed_on DATE, 
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	name VARCHAR2(250 CHAR), 
	type VARCHAR(12 CHAR), 
	description CLOB, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (name), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
)


;

-- Table: user_favorite_tag

CREATE TABLE user_favorite_tag (
	user_id INTEGER, 
	tag_id INTEGER, 
	FOREIGN KEY(user_id) REFERENCES ab_user (id), 
	FOREIGN KEY(tag_id) REFERENCES tag (id)
)


;


-- Table: slices

CREATE TABLE slices (
	uuid CHAR(36) NOT NULL, 
	created_on DATE, 
	changed_on DATE, 
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	slice_name VARCHAR2(250 CHAR), 
	datasource_id INTEGER, 
	datasource_type VARCHAR2(200 CHAR), 
	datasource_name VARCHAR2(2000 CHAR), 
	viz_type VARCHAR2(250 CHAR), 
	params CLOB, 
	query_context CLOB, 
	description CLOB, 
	cache_timeout INTEGER, 
	perm VARCHAR2(1000 CHAR), 
	schema_perm VARCHAR2(1000 CHAR), 
	catalog_perm VARCHAR2(1000 CHAR), 
	last_saved_at DATE, 
	last_saved_by_fk INTEGER, 
	certified_by CLOB, 
	certification_details CLOB, 
	is_managed_externally SMALLINT NOT NULL, 
	external_url CLOB, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (uuid), 
	FOREIGN KEY(last_saved_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
)


;


-- Table: tagged_object

CREATE TABLE tagged_object (
	created_on DATE, 
	changed_on DATE, 
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	tag_id INTEGER, 
	object_id INTEGER, 
	object_type VARCHAR(9 CHAR), 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	CONSTRAINT uix_tagged_object UNIQUE (tag_id, object_id, object_type), 
	FOREIGN KEY(tag_id) REFERENCES tag (id), 
	FOREIGN KEY(object_id) REFERENCES dashboards (id), 
	FOREIGN KEY(object_id) REFERENCES slices (id), 
	FOREIGN KEY(object_id) REFERENCES saved_query (id), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
)


;

-- Table: annotation_layer

CREATE TABLE annotation_layer (
	created_on DATE, 
	changed_on DATE, 
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	name VARCHAR2(250 CHAR), 
	descr CLOB, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
)


;

-- Table: annotation

CREATE TABLE annotation (
	created_on DATE, 
	changed_on DATE, 
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	start_dttm DATE, 
	end_dttm DATE, 
	layer_id INTEGER NOT NULL, 
	short_descr VARCHAR2(500 CHAR), 
	long_descr CLOB, 
	json_metadata CLOB, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	FOREIGN KEY(layer_id) REFERENCES annotation_layer (id), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
)


;

-- Table: slice_user

CREATE TABLE slice_user (
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	user_id INTEGER, 
	slice_id INTEGER, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES ab_user (id) ON DELETE CASCADE, 
	FOREIGN KEY(slice_id) REFERENCES slices (id) ON DELETE CASCADE
)


;


-- Table: tables

CREATE TABLE tables (
	uuid CHAR(36) NOT NULL, 
	created_on DATE, 
	changed_on DATE, 
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	description CLOB, 
	default_endpoint CLOB, 
	is_featured SMALLINT, 
	filter_select_enabled SMALLINT, 
	offset INTEGER, 
	cache_timeout INTEGER, 
	params VARCHAR2(1000 CHAR), 
	perm VARCHAR2(1000 CHAR), 
	schema_perm VARCHAR2(1000 CHAR), 
	catalog_perm VARCHAR2(1000 CHAR), 
	is_managed_externally SMALLINT NOT NULL, 
	external_url CLOB, 
	table_name VARCHAR2(250 CHAR) NOT NULL, 
	main_dttm_col VARCHAR2(250 CHAR), 
	database_id INTEGER NOT NULL, 
	fetch_values_predicate CLOB, 
	catalog VARCHAR2(256 CHAR), 
	"schema" VARCHAR2(255 CHAR), 
	"sql" CLOB, 
	is_sqllab_view SMALLINT, 
	template_params CLOB, 
	extra CLOB, 
	normalize_columns SMALLINT, 
	always_filter_main_dttm SMALLINT, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (database_id, catalog, "schema", table_name), 
	UNIQUE (uuid), 
	FOREIGN KEY(database_id) REFERENCES dbs (id), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
)


;

-- Table: table_columns

CREATE TABLE table_columns (
	uuid CHAR(36) NOT NULL, 
	created_on DATE, 
	changed_on DATE, 
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	column_name VARCHAR2(255 CHAR) NOT NULL, 
	verbose_name VARCHAR2(1024 CHAR), 
	is_active SMALLINT, 
	type CLOB, 
	advanced_data_type VARCHAR2(255 CHAR), 
	groupby SMALLINT, 
	filterable SMALLINT, 
	description CLOB, 
	table_id INTEGER, 
	is_dttm SMALLINT, 
	expression CLOB, 
	python_date_format VARCHAR2(255 CHAR), 
	extra CLOB, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (table_id, column_name), 
	UNIQUE (uuid), 
	FOREIGN KEY(table_id) REFERENCES tables (id) ON DELETE CASCADE, 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
)


;

-- Table: sql_metrics

CREATE TABLE sql_metrics (
	uuid CHAR(36) NOT NULL, 
	created_on DATE, 
	changed_on DATE, 
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	metric_name VARCHAR2(255 CHAR) NOT NULL, 
	verbose_name VARCHAR2(1024 CHAR), 
	metric_type VARCHAR2(32 CHAR), 
	description CLOB, 
	d3format VARCHAR2(128 CHAR), 
	currency VARCHAR2(128 CHAR), 
	warning_text CLOB, 
	table_id INTEGER, 
	expression CLOB NOT NULL, 
	extra CLOB, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (table_id, metric_name), 
	UNIQUE (uuid), 
	FOREIGN KEY(table_id) REFERENCES tables (id) ON DELETE CASCADE, 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
)


;

-- Table: sqlatable_user

CREATE TABLE sqlatable_user (
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	user_id INTEGER, 
	table_id INTEGER, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES ab_user (id) ON DELETE CASCADE, 
	FOREIGN KEY(table_id) REFERENCES tables (id) ON DELETE CASCADE
)


;




-- Table: row_level_security_filters

CREATE TABLE row_level_security_filters (
	created_on DATE, 
	changed_on DATE, 
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	name VARCHAR2(255 CHAR) NOT NULL, 
	description CLOB, 
	filter_type VARCHAR(7 CHAR), 
	group_key VARCHAR2(255 CHAR), 
	clause CLOB NOT NULL, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (name), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
)


;

-- Table: rls_filter_roles

CREATE TABLE rls_filter_roles (
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	role_id INTEGER NOT NULL, 
	rls_filter_id INTEGER, 
	PRIMARY KEY (id), 
	FOREIGN KEY(role_id) REFERENCES ab_role (id), 
	FOREIGN KEY(rls_filter_id) REFERENCES row_level_security_filters (id)
)


;

-- Table: rls_filter_tables

CREATE TABLE rls_filter_tables (
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	table_id INTEGER, 
	rls_filter_id INTEGER, 
	PRIMARY KEY (id), 
	FOREIGN KEY(table_id) REFERENCES tables (id), 
	FOREIGN KEY(rls_filter_id) REFERENCES row_level_security_filters (id)
)


;


-- Table: dashboard_slices

CREATE TABLE dashboard_slices (
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	dashboard_id INTEGER, 
	slice_id INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (dashboard_id, slice_id), 
	FOREIGN KEY(dashboard_id) REFERENCES dashboards (id) ON DELETE CASCADE, 
	FOREIGN KEY(slice_id) REFERENCES slices (id) ON DELETE CASCADE
)


;

-- Table: dashboard_user

CREATE TABLE dashboard_user (
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	user_id INTEGER, 
	dashboard_id INTEGER, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES ab_user (id) ON DELETE CASCADE, 
	FOREIGN KEY(dashboard_id) REFERENCES dashboards (id) ON DELETE CASCADE
)


;

-- Table: dashboard_roles

CREATE TABLE dashboard_roles (
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	dashboard_id INTEGER NOT NULL, 
	role_id INTEGER NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(dashboard_id) REFERENCES dashboards (id) ON DELETE CASCADE, 
	FOREIGN KEY(role_id) REFERENCES ab_role (id) ON DELETE CASCADE
)


;


-- Table: report_schedule

CREATE TABLE report_schedule (
	created_on DATE, 
	changed_on DATE, 
	extra_json CLOB, 
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	type VARCHAR2(50 CHAR) NOT NULL, 
	name VARCHAR2(150 CHAR) NOT NULL, 
	description CLOB, 
	context_markdown CLOB, 
	active SMALLINT, 
	crontab VARCHAR2(1000 CHAR) NOT NULL, 
	creation_method VARCHAR2(255 CHAR) DEFAULT 'alerts_reports', 
	timezone VARCHAR2(100 CHAR) NOT NULL, 
	report_format VARCHAR2(50 CHAR), 
	"sql" CLOB, 
	chart_id INTEGER, 
	dashboard_id INTEGER, 
	database_id INTEGER, 
	last_eval_dttm DATE, 
	last_state VARCHAR2(50 CHAR), 
	last_value FLOAT, 
	last_value_row_json CLOB, 
	validator_type VARCHAR2(100 CHAR), 
	validator_config_json CLOB, 
	log_retention INTEGER, 
	grace_period INTEGER, 
	working_timeout INTEGER, 
	force_screenshot SMALLINT, 
	custom_width INTEGER, 
	custom_height INTEGER, 
	email_subject VARCHAR2(255 CHAR), 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (name, type), 
	FOREIGN KEY(chart_id) REFERENCES slices (id), 
	FOREIGN KEY(dashboard_id) REFERENCES dashboards (id), 
	FOREIGN KEY(database_id) REFERENCES dbs (id), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
)


;

-- Table: report_schedule_user

CREATE TABLE report_schedule_user (
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	user_id INTEGER NOT NULL, 
	report_schedule_id INTEGER NOT NULL, 
	PRIMARY KEY (id), 
	UNIQUE (user_id, report_schedule_id), 
	FOREIGN KEY(user_id) REFERENCES ab_user (id) ON DELETE CASCADE, 
	FOREIGN KEY(report_schedule_id) REFERENCES report_schedule (id) ON DELETE CASCADE
)


;


-- Table: report_recipient

CREATE TABLE report_recipient (
	created_on DATE, 
	changed_on DATE, 
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	type VARCHAR2(50 CHAR) NOT NULL, 
	recipient_config_json CLOB, 
	report_schedule_id INTEGER NOT NULL, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	FOREIGN KEY(report_schedule_id) REFERENCES report_schedule (id), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
)


;

-- Table: report_execution_log

CREATE TABLE report_execution_log (
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	uuid CHAR(36), 
	scheduled_dttm DATE NOT NULL, 
	start_dttm DATE, 
	end_dttm DATE, 
	value FLOAT, 
	value_row_json CLOB, 
	state VARCHAR2(50 CHAR) NOT NULL, 
	error_message CLOB, 
	report_schedule_id INTEGER NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(report_schedule_id) REFERENCES report_schedule (id)
)


;

-- Table: ssh_tunnels

CREATE TABLE ssh_tunnels (
	uuid CHAR(36) NOT NULL, 
	created_on DATE, 
	changed_on DATE, 
	extra_json CLOB, 
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	database_id INTEGER NOT NULL, 
	server_address CLOB, 
	server_port INTEGER, 
	username BLOB, 
	password BLOB, 
	private_key BLOB, 
	private_key_password BLOB, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (uuid), 
	UNIQUE (database_id), 
	FOREIGN KEY(database_id) REFERENCES dbs (id), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
)


;

-- Table: embedded_dashboards

CREATE TABLE embedded_dashboards (
	created_on DATE, 
	changed_on DATE, 
	uuid CHAR(36) NOT NULL, 
	allow_domain_list CLOB, 
	dashboard_id INTEGER NOT NULL, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (uuid), 
	FOREIGN KEY(dashboard_id) REFERENCES dashboards (id) ON DELETE CASCADE, 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
)


;

-- Table: key_value

CREATE TABLE key_value (
	uuid CHAR(36) NOT NULL, 
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	"resource" VARCHAR2(32 CHAR) NOT NULL, 
	value BLOB NOT NULL, 
	created_on DATE, 
	created_by_fk INTEGER, 
	changed_on DATE, 
	expires_on DATE, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (uuid), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
)


;

-- Table: guest_user_tokens

CREATE TABLE guest_user_tokens (
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	user_id INTEGER NOT NULL, 
	first_name VARCHAR2(100 CHAR) NOT NULL, 
	last_name VARCHAR2(100 CHAR) NOT NULL, 
	dashboards CLOB, 
	row_level_security CLOB, 
	expiration_date DATE NOT NULL, 
	token CLOB NOT NULL, 
	created_on DATE, 
	changed_on DATE, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
)


;

-- INDEXES
-- =====================================================
-- Index: idx_role_id on ab_permission_view_role
CREATE INDEX idx_role_id ON ab_permission_view_role (role_id)
;

-- Index: idx_permission_view_id on ab_permission_view_role
CREATE INDEX idx_permission_view_id ON ab_permission_view_role (permission_view_id)
;

-- Index: idx_view_menu_id on ab_permission_view
CREATE INDEX idx_view_menu_id ON ab_permission_view (view_menu_id)
;

-- Index: idx_permission_id on ab_permission_view
CREATE INDEX idx_permission_id ON ab_permission_view (permission_id)
;

-- Index: ix_cache_keys_datasource_uid on cache_keys
CREATE INDEX ix_cache_keys_datasource_uid ON cache_keys (datasource_uid)
;

-- Index: idx_user_id_database_id on database_user_oauth2_tokens
CREATE INDEX idx_user_id_database_id ON database_user_oauth2_tokens (user_id, database_id)
;

-- Index: ti_user_id_changed_on on query
CREATE INDEX ti_user_id_changed_on ON query (user_id, changed_on)
;

-- Index: ix_query_results_key on query
CREATE INDEX ix_query_results_key ON query (results_key)
;

-- Index: ix_query_sql_editor_id on query
CREATE INDEX ix_query_sql_editor_id ON query (sql_editor_id)
;

-- Index: ti_dag_state on annotation
CREATE INDEX ti_dag_state ON annotation (layer_id, start_dttm, end_dttm)
;

-- Index: ix_report_schedule_active on report_schedule
CREATE INDEX ix_report_schedule_active ON report_schedule (active)
;

-- Index: ix_report_recipient_report_schedule_id on report_recipient
CREATE INDEX ix_report_recipient_report_schedule_id ON report_recipient (report_schedule_id)
;

-- Index: ix_report_execution_log_report_schedule_id on report_execution_log
CREATE INDEX ix_report_execution_log_report_schedule_id ON report_execution_log (report_schedule_id)
;

-- Index: ix_report_execution_log_start_dttm on report_execution_log
CREATE INDEX ix_report_execution_log_start_dttm ON report_execution_log (start_dttm)
;

-- =====================================================
-- DDL EXTRACTION COMPLETE
-- Run this script on your Oracle database BEFORE starting Superset
-- =====================================================
