Loaded your LOCAL configuration at [D:\ART_Package_V3\LocalFiles\superset_config.py]
-- =====================================================
-- COMPLETE DDL SCRIPT FOR ORACLE DATABASE
-- Extract and run BEFORE starting Superset project
-- =====================================================
-- ALTER DATABASE art_test SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
-- drop database art_test;
-- create database art_test;


-- SEQUENCES
-- =====================================================
CREATE SEQUENCE AB_PERMISSION_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE AB_VIEW_MENU_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE AB_PERMISSION_VIEW_ROLE_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE AB_ROLE_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE AB_PERMISSION_VIEW_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE AB_USER_ROLE_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE AB_USER_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE AB_REGISTER_USER_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE CACHE_KEYS_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE KEYVALUE_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE CSS_TEMPLATES_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE DBS_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE DATABASE_USER_OAUTH2_TOKENS_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE LOGS_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE FAVSTAR_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE DYNAMIC_PLUGIN_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE QUERY_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE SAVED_QUERY_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE TAB_STATE_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE TABLE_SCHEMA_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE USER_ATTRIBUTE_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE TAG_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE TAGGED_OBJECT_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE ANNOTATION_LAYER_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE ANNOTATION_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE SLICE_USER_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE SLICES_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE TABLE_COLUMNS_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE SQL_METRICS_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE SQLATABLE_USER_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE TABLES_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE RLS_FILTER_ROLES_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE RLS_FILTER_TABLES_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE ROW_LEVEL_SECURITY_FILTERS_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE DASHBOARD_SLICES_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE DASHBOARD_USER_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE DASHBOARD_ROLES_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE DASHBOARDS_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE REPORT_SCHEDULE_USER_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE REPORT_SCHEDULE_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE REPORT_RECIPIENT_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE REPORT_EXECUTION_LOG_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE SSH_TUNNELS_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE EMBEDDED_DASHBOARDS_UUID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE KEY_VALUE_ID_SEQ START WITH 1 INCREMENT BY 1;
CREATE SEQUENCE GUEST_USER_TOKENS_ID_SEQ START WITH 1 INCREMENT BY 1;
-- CREATE SEQUENCE AB_USER_ID_SEQ START WITH 1 INCREMENT BY 1;
-- CREATE SEQUENCE AB_ROLE_ID_SEQ START WITH 1 INCREMENT BY 1;
-- CREATE SEQUENCE AB_PERMISSION_ID_SEQ START WITH 1 INCREMENT BY 1;
-- CREATE SEQUENCE AB_VIEW_MENU_ID_SEQ START WITH 1 INCREMENT BY 1;
-- CREATE SEQUENCE AB_PERMISSION_VIEW_ID_SEQ START WITH 1 INCREMENT BY 1;
-- CREATE SEQUENCE AB_REGISTER_USER_ID_SEQ START WITH 1 INCREMENT BY 1;

-- FLASK-APPBUILDER SECURITY TABLES
-- =====================================================
-- Table: ab_user

CREATE TABLE ab_user (
	id INTEGER NOT NULL, 
	first_name VARCHAR(64) NOT NULL, 
	last_name VARCHAR(64) NOT NULL, 
	username VARCHAR(64) NOT NULL, 
	password VARCHAR(256) NULL, 
	active BIT NULL, 
	email VARCHAR(320) NOT NULL, 
	last_login DATETIME NULL, 
	login_count INTEGER NULL, 
	fail_login_count INTEGER NULL, 
	created_on DATETIME NULL, 
	changed_on DATETIME NULL, 
	created_by_fk INTEGER NULL, 
	changed_by_fk INTEGER NULL, 
	PRIMARY KEY (id), 
	UNIQUE (username), 
	UNIQUE (email), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
)


;

-- Table: ab_role

CREATE TABLE ab_role (
	id INTEGER NOT NULL, 
	name VARCHAR(64) NOT NULL, 
	PRIMARY KEY (id), 
	UNIQUE (name)
)


;

-- Table: ab_permission

CREATE TABLE ab_permission (
	id INTEGER NOT NULL, 
	name VARCHAR(100) NOT NULL, 
	PRIMARY KEY (id), 
	UNIQUE (name)
)


;

-- Table: ab_view_menu

CREATE TABLE ab_view_menu (
	id INTEGER NOT NULL, 
	name VARCHAR(250) NOT NULL, 
	PRIMARY KEY (id), 
	UNIQUE (name)
)


;

-- Table: ab_permission_view

CREATE TABLE ab_permission_view (
	id INTEGER NOT NULL, 
	permission_id INTEGER NULL, 
	view_menu_id INTEGER NULL, 
	PRIMARY KEY (id), 
	UNIQUE (permission_id, view_menu_id), 
	FOREIGN KEY(permission_id) REFERENCES ab_permission (id), 
	FOREIGN KEY(view_menu_id) REFERENCES ab_view_menu (id)
)


;

-- Table: ab_user_role

CREATE TABLE ab_user_role (
	id INTEGER NOT NULL, 
	user_id INTEGER NULL, 
	role_id INTEGER NULL, 
	PRIMARY KEY (id), 
	UNIQUE (user_id, role_id), 
	FOREIGN KEY(user_id) REFERENCES ab_user (id), 
	FOREIGN KEY(role_id) REFERENCES ab_role (id)
)


;

-- Table: ab_permission_view_role

CREATE TABLE ab_permission_view_role (
	id INTEGER NOT NULL, 
	permission_view_id INTEGER NULL, 
	role_id INTEGER NULL, 
	PRIMARY KEY (id), 
	UNIQUE (permission_view_id, role_id), 
	FOREIGN KEY(permission_view_id) REFERENCES ab_permission_view (id), 
	FOREIGN KEY(role_id) REFERENCES ab_role (id)
)


;

-- Table: ab_register_user

CREATE TABLE ab_register_user (
	id INTEGER NOT NULL, 
	first_name VARCHAR(64) NOT NULL, 
	last_name VARCHAR(64) NOT NULL, 
	username VARCHAR(64) NOT NULL, 
	password VARCHAR(256) NULL, 
	email VARCHAR(64) NOT NULL, 
	registration_date DATETIME NULL, 
	registration_hash VARCHAR(256) NULL, 
	PRIMARY KEY (id), 
	UNIQUE (username)
)


;

-- SUPERSET APPLICATION TABLES
-- =====================================================
-- Table: cache_keys

CREATE TABLE cache_keys (
	id INTEGER NOT NULL IDENTITY(1,1), 
	cache_key VARCHAR(256) NOT NULL, 
	cache_timeout INTEGER NULL, 
	datasource_uid VARCHAR(64) NOT NULL, 
	created_on DATETIME NULL, 
	PRIMARY KEY (id)
)


;

-- Table: keyvalue

CREATE TABLE keyvalue (
	id INTEGER NOT NULL IDENTITY(1,1), 
	value VARCHAR(max) NOT NULL, 
	PRIMARY KEY (id)
)


;

-- Table: css_templates

CREATE TABLE css_templates (
	uuid CHAR(36) NOT NULL DEFAULT NEWID(), 
	created_on DATETIME NULL, 
	changed_on DATETIME NULL, 
	id INTEGER NOT NULL IDENTITY(1,1), 
	template_name VARCHAR(250) NULL, 
	css VARCHAR(max) NULL, 
	created_by_fk INTEGER NULL, 
	changed_by_fk INTEGER NULL, 
	PRIMARY KEY (id), 
	UNIQUE (uuid), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
)


;

-- Table: dbs

CREATE TABLE dbs (
	uuid CHAR(36) NOT NULL DEFAULT NEWID(), 
	created_on DATETIME NULL, 
	changed_on DATETIME NULL, 
	id INTEGER NOT NULL IDENTITY(1,1), 
	verbose_name VARCHAR(250) NULL, 
	database_name VARCHAR(250) NOT NULL, 
	sqlalchemy_uri VARCHAR(1024) NOT NULL, 
	password VARBINARY(max) NULL, 
	cache_timeout INTEGER NULL, 
	select_as_create_table_as BIT NULL, 
	expose_in_sqllab BIT NULL, 
	configuration_method VARCHAR(255) NULL DEFAULT 'sqlalchemy_form', 
	allow_run_async BIT NULL, 
	allow_file_upload BIT NULL, 
	allow_ctas BIT NULL, 
	allow_cvas BIT NULL, 
	allow_dml BIT NULL, 
	force_ctas_schema VARCHAR(250) NULL, 
	extra VARCHAR(max) NULL, 
	encrypted_extra VARBINARY(max) NULL, 
	impersonate_user BIT NULL, 
	server_cert VARBINARY(max) NULL, 
	is_managed_externally BIT NOT NULL, 
	external_url VARCHAR(max) NULL, 
	created_by_fk INTEGER NULL, 
	changed_by_fk INTEGER NULL, 
	PRIMARY KEY (id), 
	UNIQUE (database_name), 
	UNIQUE (uuid), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
)


;

-- Table: database_user_oauth2_tokens

CREATE TABLE database_user_oauth2_tokens (
	created_on DATETIME NULL, 
	changed_on DATETIME NULL, 
	id INTEGER NOT NULL IDENTITY(1,1), 
	user_id INTEGER NOT NULL, 
	database_id INTEGER NOT NULL, 
	access_token VARBINARY(max) NULL, 
	access_token_expiration DATETIME NULL, 
	refresh_token VARBINARY(max) NULL, 
	created_by_fk INTEGER NULL, 
	changed_by_fk INTEGER NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES ab_user (id) ON DELETE CASCADE, 
	FOREIGN KEY(database_id) REFERENCES dbs (id) ON DELETE CASCADE, 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
)


;

-- Table: logs

CREATE TABLE logs (
	id INTEGER NOT NULL IDENTITY(1,1), 
	action VARCHAR(512) NULL, 
	user_id INTEGER NULL, 
	dashboard_id INTEGER NULL, 
	slice_id INTEGER NULL, 
	json VARCHAR(max) NULL, 
	dttm DATETIME NULL, 
	duration_ms INTEGER NULL, 
	referrer VARCHAR(1024) NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES ab_user (id)
)


;

-- Table: favstar

CREATE TABLE favstar (
	uuid CHAR(36) NOT NULL DEFAULT NEWID(), 
	id INTEGER NOT NULL IDENTITY(1,1), 
	user_id INTEGER NULL, 
	class_name VARCHAR(50) NULL, 
	obj_id INTEGER NULL, 
	dttm DATETIME NULL, 
	PRIMARY KEY (id), 
	UNIQUE (uuid), 
	FOREIGN KEY(user_id) REFERENCES ab_user (id)
)


;

-- Table: dynamic_plugin

CREATE TABLE dynamic_plugin (
	created_on DATETIME NULL, 
	changed_on DATETIME NULL, 
	id INTEGER NOT NULL IDENTITY(1,1), 
	name VARCHAR(512) NOT NULL, 
	[key] VARCHAR(512) NOT NULL, 
	bundle_url VARCHAR(512) NOT NULL, 
	created_by_fk INTEGER NULL, 
	changed_by_fk INTEGER NULL, 
	PRIMARY KEY (id), 
	UNIQUE (name), 
	UNIQUE ([key]), 
	UNIQUE (bundle_url), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
)


;

-- Table: query

CREATE TABLE query (
	extra_json VARCHAR(max) NULL, 
	id INTEGER NOT NULL IDENTITY(1,1), 
	client_id VARCHAR(11) NOT NULL, 
	tmp_table_name VARCHAR(256) NULL, 
	tmp_schema_name VARCHAR(256) NULL, 
	status VARCHAR(16) NULL, 
	tab_name VARCHAR(256) NULL, 
	sql_editor_id VARCHAR(256) NULL, 
	[schema] VARCHAR(256) NULL, 
	catalog VARCHAR(256) NULL, 
	limiting_factor VARCHAR(18) NULL DEFAULT 'UNKNOWN', 
	ctas_method VARCHAR(16) NULL, 
	results_key VARCHAR(64) NULL, 
	start_time NUMERIC(20, 6) NULL, 
	start_running_time NUMERIC(20, 6) NULL, 
	end_time NUMERIC(20, 6) NULL, 
	end_result_backend_time NUMERIC(20, 6) NULL, 
	sql VARCHAR(max) NULL, 
	limit INTEGER NULL, 
	rows INTEGER NULL, 
	database_id INTEGER NOT NULL, 
	user_id INTEGER NULL, 
	select_sql VARCHAR(max) NULL, 
	executed_sql VARCHAR(max) NULL, 
	select_as_cta BIT NULL, 
	select_as_cta_used BIT NULL, 
	progress INTEGER NULL, 
	error_message VARCHAR(max) NULL, 
	tracking_url VARCHAR(max) NULL, 
	changed_on DATETIME NULL, 
	PRIMARY KEY (id), 
	UNIQUE (client_id), 
	FOREIGN KEY(database_id) REFERENCES dbs (id), 
	FOREIGN KEY(user_id) REFERENCES ab_user (id)
)


;

-- Table: saved_query

CREATE TABLE saved_query (
	uuid CHAR(36) NOT NULL DEFAULT NEWID(), 
	created_on DATETIME NULL, 
	changed_on DATETIME NULL, 
	extra_json VARCHAR(max) NULL, 
	id INTEGER NOT NULL IDENTITY(1,1), 
	user_id INTEGER NULL, 
	db_id INTEGER NULL, 
	catalog VARCHAR(256) NULL, 
	label VARCHAR(256) NULL, 
	description VARCHAR(max) NULL, 
	[schema] VARCHAR(128) NULL, 
	sql VARCHAR(max) NULL, 
	rows INTEGER NULL, 
	template_parameters VARCHAR(max) NULL, 
	last_run DATETIME NULL, 
	created_by_fk INTEGER NULL, 
	changed_by_fk INTEGER NULL, 
	PRIMARY KEY (id), 
	UNIQUE (uuid), 
	FOREIGN KEY(user_id) REFERENCES ab_user (id), 
	FOREIGN KEY(db_id) REFERENCES dbs (id), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
)


;

-- Table: tab_state

CREATE TABLE tab_state (
	created_on DATETIME NULL, 
	changed_on DATETIME NULL, 
	extra_json VARCHAR(max) NULL, 
	id INTEGER NOT NULL IDENTITY(1,1), 
	user_id INTEGER NULL, 
	label VARCHAR(256) NULL, 
	active BIT NULL, 
	database_id INTEGER NULL, 
	catalog VARCHAR(256) NULL, 
	sql VARCHAR(max) NULL, 
	[schema] VARCHAR(256) NULL, 
	query_limit INTEGER NULL, 
	latest_query_id VARCHAR(11) NULL, 
	autorun BIT NULL, 
	template_params VARCHAR(max) NULL, 
	hide_left_bar BIT NULL, 
	saved_query_id INTEGER NULL, 
	created_by_fk INTEGER NULL, 
	changed_by_fk INTEGER NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES ab_user (id), 
	FOREIGN KEY(database_id) REFERENCES dbs (id) ON DELETE CASCADE, 
	FOREIGN KEY(latest_query_id) REFERENCES query (client_id) ON DELETE SET NULL, 
	FOREIGN KEY(saved_query_id) REFERENCES saved_query (id) ON DELETE SET NULL, 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
)


;

-- Table: table_schema

CREATE TABLE table_schema (
	created_on DATETIME NULL, 
	changed_on DATETIME NULL, 
	extra_json VARCHAR(max) NULL, 
	id INTEGER NOT NULL IDENTITY(1,1), 
	tab_state_id INTEGER NULL, 
	database_id INTEGER NOT NULL, 
	[schema] VARCHAR(256) NULL, 
	[table] VARCHAR(256) NULL, 
	catalog VARCHAR(256) NULL, 
	description VARCHAR(max) NULL, 
	expanded BIT NULL, 
	created_by_fk INTEGER NULL, 
	changed_by_fk INTEGER NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(tab_state_id) REFERENCES tab_state (id), 
	FOREIGN KEY(database_id) REFERENCES dbs (id) ON DELETE CASCADE, 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
)


;

-- Table: dashboards

CREATE TABLE dashboards (
	uuid CHAR(36) NOT NULL DEFAULT NEWID(), 
	created_on DATETIME NULL, 
	changed_on DATETIME NULL, 
	id INTEGER NOT NULL IDENTITY(1,1), 
	dashboard_title VARCHAR(500) NULL, 
	position_json VARCHAR(max) NULL, 
	description VARCHAR(max) NULL, 
	css VARCHAR(max) NULL, 
	certified_by VARCHAR(max) NULL, 
	certification_details VARCHAR(max) NULL, 
	json_metadata VARCHAR(max) NULL, 
	slug VARCHAR(255) NULL, 
	published BIT NULL, 
	is_managed_externally BIT NOT NULL, 
	external_url VARCHAR(max) NULL, 
	created_by_fk INTEGER NULL, 
	changed_by_fk INTEGER NULL, 
	PRIMARY KEY (id), 
	UNIQUE (uuid), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
)


;

-- Table: user_attribute

CREATE TABLE user_attribute (
	created_on DATETIME NULL, 
	changed_on DATETIME NULL, 
	id INTEGER NOT NULL IDENTITY(1,1), 
	user_id INTEGER NULL, 
	welcome_dashboard_id INTEGER NULL, 
	avatar_url VARCHAR(100) NULL, 
	created_by_fk INTEGER NULL, 
	changed_by_fk INTEGER NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES ab_user (id), 
	FOREIGN KEY(welcome_dashboard_id) REFERENCES dashboards (id), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
)


;

-- Table: tag

CREATE TABLE tag (
	created_on DATETIME NULL, 
	changed_on DATETIME NULL, 
	id INTEGER NOT NULL IDENTITY(1,1), 
	name VARCHAR(250) NULL, 
	type VARCHAR(12) NULL, 
	description VARCHAR(max) NULL, 
	created_by_fk INTEGER NULL, 
	changed_by_fk INTEGER NULL, 
	PRIMARY KEY (id), 
	UNIQUE (name), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
)


;


-- Table: user_favorite_tag

CREATE TABLE user_favorite_tag (
	user_id INTEGER NULL, 
	tag_id INTEGER NULL, 
	FOREIGN KEY(user_id) REFERENCES ab_user (id), 
	FOREIGN KEY(tag_id) REFERENCES tag (id)
)


;

-- Table: slices

CREATE TABLE slices (
	uuid CHAR(36) NOT NULL DEFAULT NEWID(), 
	created_on DATETIME NULL, 
	changed_on DATETIME NULL, 
	id INTEGER NOT NULL IDENTITY(1,1), 
	slice_name VARCHAR(250) NULL, 
	datasource_id INTEGER NULL, 
	datasource_type VARCHAR(200) NULL, 
	datasource_name VARCHAR(2000) NULL, 
	viz_type VARCHAR(250) NULL, 
	params VARCHAR(max) NULL, 
	query_context VARCHAR(max) NULL, 
	description VARCHAR(max) NULL, 
	cache_timeout INTEGER NULL, 
	perm VARCHAR(1000) NULL, 
	schema_perm VARCHAR(1000) NULL, 
	catalog_perm VARCHAR(1000) NULL, 
	last_saved_at DATETIME NULL, 
	last_saved_by_fk INTEGER NULL, 
	certified_by VARCHAR(max) NULL, 
	certification_details VARCHAR(max) NULL, 
	is_managed_externally BIT NOT NULL, 
	external_url VARCHAR(max) NULL, 
	created_by_fk INTEGER NULL, 
	changed_by_fk INTEGER NULL, 
	PRIMARY KEY (id), 
	UNIQUE (uuid), 
	FOREIGN KEY(last_saved_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
)


;


-- Table: tagged_object

CREATE TABLE tagged_object (
	created_on DATETIME NULL, 
	changed_on DATETIME NULL, 
	id INTEGER NOT NULL IDENTITY(1,1), 
	tag_id INTEGER NULL, 
	object_id INTEGER NULL, 
	object_type VARCHAR(9) NULL, 
	created_by_fk INTEGER NULL, 
	changed_by_fk INTEGER NULL, 
	PRIMARY KEY (id), 
	CONSTRAINT uix_tagged_object UNIQUE (tag_id, object_id, object_type), 
	FOREIGN KEY(tag_id) REFERENCES tag (id), 
	FOREIGN KEY(object_id) REFERENCES dashboards (id), 
	FOREIGN KEY(object_id) REFERENCES slices (id), 
	FOREIGN KEY(object_id) REFERENCES saved_query (id), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
)


;

-- Table: annotation_layer

CREATE TABLE annotation_layer (
	created_on DATETIME NULL, 
	changed_on DATETIME NULL, 
	id INTEGER NOT NULL IDENTITY(1,1), 
	name VARCHAR(250) NULL, 
	descr VARCHAR(max) NULL, 
	created_by_fk INTEGER NULL, 
	changed_by_fk INTEGER NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
)


;

-- Table: annotation

CREATE TABLE annotation (
	created_on DATETIME NULL, 
	changed_on DATETIME NULL, 
	id INTEGER NOT NULL IDENTITY(1,1), 
	start_dttm DATETIME NULL, 
	end_dttm DATETIME NULL, 
	layer_id INTEGER NOT NULL, 
	short_descr VARCHAR(500) NULL, 
	long_descr VARCHAR(max) NULL, 
	json_metadata VARCHAR(max) NULL, 
	created_by_fk INTEGER NULL, 
	changed_by_fk INTEGER NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(layer_id) REFERENCES annotation_layer (id), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
)


;

-- Table: slice_user

CREATE TABLE slice_user (
	id INTEGER NOT NULL IDENTITY(1,1), 
	user_id INTEGER NULL, 
	slice_id INTEGER NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES ab_user (id) ON DELETE CASCADE, 
	FOREIGN KEY(slice_id) REFERENCES slices (id) ON DELETE CASCADE
)


;

-- Table: tables

CREATE TABLE tables (
	uuid CHAR(36) NOT NULL DEFAULT NEWID(), 
	created_on DATETIME NULL, 
	changed_on DATETIME NULL, 
	id INTEGER NOT NULL IDENTITY(1,1), 
	description VARCHAR(max) NULL, 
	default_endpoint VARCHAR(max) NULL, 
	is_featured BIT NULL, 
	filter_select_enabled BIT NULL, 
	offset INTEGER NULL, 
	cache_timeout INTEGER NULL, 
	params VARCHAR(1000) NULL, 
	perm VARCHAR(1000) NULL, 
	schema_perm VARCHAR(1000) NULL, 
	catalog_perm VARCHAR(1000) NULL, 
	is_managed_externally BIT NOT NULL, 
	external_url VARCHAR(max) NULL, 
	table_name VARCHAR(250) NOT NULL, 
	main_dttm_col VARCHAR(250) NULL, 
	database_id INTEGER NOT NULL, 
	fetch_values_predicate VARCHAR(max) NULL, 
	catalog VARCHAR(256) NULL, 
	sql VARCHAR(max) NULL, 
	[schema] VARCHAR(255) NULL, 
	is_sqllab_view BIT NULL, 
	template_params VARCHAR(max) NULL, 
	extra VARCHAR(max) NULL, 
	normalize_columns BIT NULL, 
	always_filter_main_dttm BIT NULL, 
	created_by_fk INTEGER NULL, 
	changed_by_fk INTEGER NULL, 
	PRIMARY KEY (id), 
	UNIQUE (database_id, catalog, [schema], table_name), 
	UNIQUE (uuid), 
	FOREIGN KEY(database_id) REFERENCES dbs (id), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
)


;

-- Table: table_columns

CREATE TABLE table_columns (
	uuid CHAR(36) NOT NULL DEFAULT NEWID(), 
	created_on DATETIME NULL, 
	changed_on DATETIME NULL, 
	id INTEGER NOT NULL IDENTITY(1,1), 
	column_name VARCHAR(255) NOT NULL, 
	verbose_name VARCHAR(1024) NULL, 
	is_active BIT NULL, 
	type VARCHAR(max) NULL, 
	advanced_data_type VARCHAR(255) NULL, 
	groupby BIT NULL, 
	filterable BIT NULL, 
	description VARCHAR(max) NULL, 
	table_id INTEGER NULL, 
	is_dttm BIT NULL, 
	expression VARCHAR(max) NULL, 
	python_date_format VARCHAR(255) NULL, 
	extra VARCHAR(max) NULL, 
	created_by_fk INTEGER NULL, 
	changed_by_fk INTEGER NULL, 
	PRIMARY KEY (id), 
	UNIQUE (table_id, column_name), 
	UNIQUE (uuid), 
	FOREIGN KEY(table_id) REFERENCES tables (id) ON DELETE CASCADE, 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
)


;

-- Table: sql_metrics

CREATE TABLE sql_metrics (
	uuid CHAR(36) NOT NULL DEFAULT NEWID(), 
	created_on DATETIME NULL, 
	changed_on DATETIME NULL, 
	id INTEGER NOT NULL IDENTITY(1,1), 
	metric_name VARCHAR(255) NOT NULL, 
	verbose_name VARCHAR(1024) NULL, 
	metric_type VARCHAR(32) NULL, 
	description VARCHAR(max) NULL, 
	d3format VARCHAR(128) NULL, 
	currency VARCHAR(128) NULL, 
	warning_text VARCHAR(max) NULL, 
	table_id INTEGER NULL, 
	expression VARCHAR(max) NOT NULL, 
	extra VARCHAR(max) NULL, 
	created_by_fk INTEGER NULL, 
	changed_by_fk INTEGER NULL, 
	PRIMARY KEY (id), 
	UNIQUE (table_id, metric_name), 
	UNIQUE (uuid), 
	FOREIGN KEY(table_id) REFERENCES tables (id) ON DELETE CASCADE, 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
)


;

-- Table: sqlatable_user

CREATE TABLE sqlatable_user (
	id INTEGER NOT NULL IDENTITY(1,1), 
	user_id INTEGER NULL, 
	table_id INTEGER NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES ab_user (id) ON DELETE CASCADE, 
	FOREIGN KEY(table_id) REFERENCES tables (id) ON DELETE CASCADE
)


;


-- Table: row_level_security_filters

CREATE TABLE row_level_security_filters (
	created_on DATETIME NULL, 
	changed_on DATETIME NULL, 
	id INTEGER NOT NULL IDENTITY(1,1), 
	name VARCHAR(255) NOT NULL, 
	description VARCHAR(max) NULL, 
	filter_type VARCHAR(7) NULL, 
	group_key VARCHAR(255) NULL, 
	clause VARCHAR(max) NOT NULL, 
	created_by_fk INTEGER NULL, 
	changed_by_fk INTEGER NULL, 
	PRIMARY KEY (id), 
	UNIQUE (name), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
)


;


-- Table: rls_filter_roles

CREATE TABLE rls_filter_roles (
	id INTEGER NOT NULL IDENTITY(1,1), 
	role_id INTEGER NOT NULL, 
	rls_filter_id INTEGER NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(role_id) REFERENCES ab_role (id), 
	FOREIGN KEY(rls_filter_id) REFERENCES row_level_security_filters (id)
)


;

-- Table: rls_filter_tables

CREATE TABLE rls_filter_tables (
	id INTEGER NOT NULL IDENTITY(1,1), 
	table_id INTEGER NULL, 
	rls_filter_id INTEGER NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(table_id) REFERENCES tables (id), 
	FOREIGN KEY(rls_filter_id) REFERENCES row_level_security_filters (id)
)


;



-- Table: dashboard_slices

CREATE TABLE dashboard_slices (
	id INTEGER NOT NULL IDENTITY(1,1), 
	dashboard_id INTEGER NULL, 
	slice_id INTEGER NULL, 
	PRIMARY KEY (id), 
	UNIQUE (dashboard_id, slice_id), 
	FOREIGN KEY(dashboard_id) REFERENCES dashboards (id) ON DELETE CASCADE, 
	FOREIGN KEY(slice_id) REFERENCES slices (id) ON DELETE CASCADE
)


;

-- Table: dashboard_user

CREATE TABLE dashboard_user (
	id INTEGER NOT NULL IDENTITY(1,1), 
	user_id INTEGER NULL, 
	dashboard_id INTEGER NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES ab_user (id) ON DELETE CASCADE, 
	FOREIGN KEY(dashboard_id) REFERENCES dashboards (id) ON DELETE CASCADE
)


;

-- Table: dashboard_roles

CREATE TABLE dashboard_roles (
	id INTEGER NOT NULL IDENTITY(1,1), 
	dashboard_id INTEGER NOT NULL, 
	role_id INTEGER NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(dashboard_id) REFERENCES dashboards (id) ON DELETE CASCADE, 
	FOREIGN KEY(role_id) REFERENCES ab_role (id) ON DELETE CASCADE
)


;

-- Table: report_schedule

CREATE TABLE report_schedule (
	created_on DATETIME NULL, 
	changed_on DATETIME NULL, 
	extra_json VARCHAR(max) NULL, 
	id INTEGER NOT NULL IDENTITY(1,1), 
	type VARCHAR(50) NOT NULL, 
	name VARCHAR(150) NOT NULL, 
	description VARCHAR(max) NULL, 
	context_markdown VARCHAR(max) NULL, 
	active BIT NULL, 
	crontab VARCHAR(1000) NOT NULL, 
	creation_method VARCHAR(255) NULL DEFAULT 'alerts_reports', 
	timezone VARCHAR(100) NOT NULL, 
	report_format VARCHAR(50) NULL, 
	sql VARCHAR(max) NULL, 
	chart_id INTEGER NULL, 
	dashboard_id INTEGER NULL, 
	database_id INTEGER NULL, 
	last_eval_dttm DATETIME NULL, 
	last_state VARCHAR(50) NULL, 
	last_value FLOAT NULL, 
	last_value_row_json VARCHAR(max) NULL, 
	validator_type VARCHAR(100) NULL, 
	validator_config_json VARCHAR(max) NULL, 
	log_retention INTEGER NULL, 
	grace_period INTEGER NULL, 
	working_timeout INTEGER NULL, 
	force_screenshot BIT NULL, 
	custom_width INTEGER NULL, 
	custom_height INTEGER NULL, 
	email_subject VARCHAR(255) NULL, 
	created_by_fk INTEGER NULL, 
	changed_by_fk INTEGER NULL, 
	PRIMARY KEY (id), 
	UNIQUE (name, type), 
	FOREIGN KEY(chart_id) REFERENCES slices (id), 
	FOREIGN KEY(dashboard_id) REFERENCES dashboards (id), 
	FOREIGN KEY(database_id) REFERENCES dbs (id), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
)


;

-- Table: report_schedule_user

CREATE TABLE report_schedule_user (
	id INTEGER NOT NULL IDENTITY(1,1), 
	user_id INTEGER NOT NULL, 
	report_schedule_id INTEGER NOT NULL, 
	PRIMARY KEY (id), 
	UNIQUE (user_id, report_schedule_id), 
	FOREIGN KEY(user_id) REFERENCES ab_user (id) ON DELETE CASCADE, 
	FOREIGN KEY(report_schedule_id) REFERENCES report_schedule (id) ON DELETE CASCADE
)


;



-- Table: report_recipient

CREATE TABLE report_recipient (
	created_on DATETIME NULL, 
	changed_on DATETIME NULL, 
	id INTEGER NOT NULL IDENTITY(1,1), 
	type VARCHAR(50) NOT NULL, 
	recipient_config_json VARCHAR(max) NULL, 
	report_schedule_id INTEGER NOT NULL, 
	created_by_fk INTEGER NULL, 
	changed_by_fk INTEGER NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(report_schedule_id) REFERENCES report_schedule (id), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
)


;

-- Table: report_execution_log

CREATE TABLE report_execution_log (
	id INTEGER NOT NULL IDENTITY(1,1), 
	uuid CHAR(36) NULL DEFAULT NEWID(), 
	scheduled_dttm DATETIME NOT NULL, 
	start_dttm DATETIME NULL, 
	end_dttm DATETIME NULL, 
	value FLOAT NULL, 
	value_row_json VARCHAR(max) NULL, 
	state VARCHAR(50) NOT NULL, 
	error_message VARCHAR(max) NULL, 
	report_schedule_id INTEGER NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(report_schedule_id) REFERENCES report_schedule (id)
)


;

-- Table: ssh_tunnels

CREATE TABLE ssh_tunnels (
	uuid CHAR(36) NOT NULL DEFAULT NEWID(), 
	created_on DATETIME NULL, 
	changed_on DATETIME NULL, 
	extra_json VARCHAR(max) NULL, 
	id INTEGER NOT NULL IDENTITY(1,1), 
	database_id INTEGER NOT NULL, 
	server_address VARCHAR(max) NULL, 
	server_port INTEGER NULL, 
	username VARBINARY(max) NULL, 
	password VARBINARY(max) NULL, 
	private_key VARBINARY(max) NULL, 
	private_key_password VARBINARY(max) NULL, 
	created_by_fk INTEGER NULL, 
	changed_by_fk INTEGER NULL, 
	PRIMARY KEY (id), 
	UNIQUE (uuid), 
	UNIQUE (database_id), 
	FOREIGN KEY(database_id) REFERENCES dbs (id), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
)


;

-- Table: embedded_dashboards

CREATE TABLE embedded_dashboards (
	created_on DATETIME NULL, 
	changed_on DATETIME NULL, 
	uuid CHAR(36) NOT NULL DEFAULT NEWID(), 
	allow_domain_list VARCHAR(max) NULL, 
	dashboard_id INTEGER NOT NULL, 
	created_by_fk INTEGER NULL, 
	changed_by_fk INTEGER NULL, 
	PRIMARY KEY (uuid), 
	FOREIGN KEY(dashboard_id) REFERENCES dashboards (id) ON DELETE CASCADE, 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
)


;

-- Table: key_value

CREATE TABLE key_value (
	uuid CHAR(36) NOT NULL DEFAULT NEWID(), 
	id INTEGER NOT NULL IDENTITY(1,1), 
	resource VARCHAR(32) NOT NULL, 
	value VARBINARY(MAX) NOT NULL, 
	created_on DATETIME NULL, 
	created_by_fk INTEGER NULL, 
	changed_on DATETIME NULL, 
	expires_on DATETIME NULL, 
	changed_by_fk INTEGER NULL, 
	PRIMARY KEY (id), 
	UNIQUE (uuid), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
)


;

-- Table: guest_user_tokens

CREATE TABLE guest_user_tokens (
	id INTEGER NOT NULL IDENTITY(1,1), 
	user_id INTEGER NOT NULL, 
	first_name VARCHAR(100) NOT NULL, 
	last_name VARCHAR(100) NOT NULL, 
	dashboards VARCHAR(max) NULL, 
	row_level_security VARCHAR(max) NULL, 
	expiration_date DATETIME NOT NULL, 
	token VARCHAR(max) NOT NULL, 
	created_on DATETIME NULL, 
	changed_on DATETIME NULL, 
	created_by_fk INTEGER NULL, 
	changed_by_fk INTEGER NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
)


;

-- INDEXES
-- =====================================================
-- Index: idx_role_id on ab_permission_view_role
CREATE INDEX idx_role_id ON ab_permission_view_role (role_id)
;

-- Index: idx_permission_view_id on ab_permission_view_role
CREATE INDEX idx_permission_view_id ON ab_permission_view_role (permission_view_id)
;

-- Index: idx_permission_id on ab_permission_view
CREATE INDEX idx_permission_id ON ab_permission_view (permission_id)
;

-- Index: idx_view_menu_id on ab_permission_view
CREATE INDEX idx_view_menu_id ON ab_permission_view (view_menu_id)
;

-- Index: ix_cache_keys_datasource_uid on cache_keys
CREATE INDEX ix_cache_keys_datasource_uid ON cache_keys (datasource_uid)
;

-- Index: idx_user_id_database_id on database_user_oauth2_tokens
CREATE INDEX idx_user_id_database_id ON database_user_oauth2_tokens (user_id, database_id)
;

-- Index: ti_user_id_changed_on on query
CREATE INDEX ti_user_id_changed_on ON query (user_id, changed_on)
;

-- Index: ix_query_results_key on query
CREATE INDEX ix_query_results_key ON query (results_key)
;

-- Index: ix_query_sql_editor_id on query
CREATE INDEX ix_query_sql_editor_id ON query (sql_editor_id)
;

-- Index: ti_dag_state on annotation
CREATE INDEX ti_dag_state ON annotation (layer_id, start_dttm, end_dttm)
;

-- Index: ix_report_schedule_active on report_schedule
CREATE INDEX ix_report_schedule_active ON report_schedule (active)
;

-- Index: ix_report_recipient_report_schedule_id on report_recipient
CREATE INDEX ix_report_recipient_report_schedule_id ON report_recipient (report_schedule_id)
;

-- Index: ix_report_execution_log_report_schedule_id on report_execution_log
CREATE INDEX ix_report_execution_log_report_schedule_id ON report_execution_log (report_schedule_id)
;

-- Index: ix_report_execution_log_start_dttm on report_execution_log
CREATE INDEX ix_report_execution_log_start_dttm ON report_execution_log (start_dttm)
;

-- =====================================================
-- DDL EXTRACTION COMPLETE
-- Run this script on your Oracle database BEFORE starting Superset
-- =====================================================
