--Loaded your LOCAL configuration at [D:\ART_Package_V3\LocalFiles\superset_config.py]
-- Universal DDL Script for MYSQL Database
-- Generated from Superset Application
-- ======================================================

-- ======================================================
-- TABLE CREATION STATEMENTS
-- ======================================================

-- Creating table: ab_user
CREATE TABLE ab_user (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	first_name VARCHAR(64) NOT NULL, 
	last_name VARCHAR(64) NOT NULL, 
	username VARCHAR(64) NOT NULL, 
	password VARCHAR(256), 
	active BOOL, 
	email VARCHAR(320) NOT NULL, 
	last_login DATETIME, 
	login_count INTEGER, 
	fail_login_count INTEGER, 
	created_on DATETIME, 
	changed_on DATETIME, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (username), 
	UNIQUE (email), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
);

-- Creating table: ab_role
CREATE TABLE ab_role (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	name VARCHAR(64) NOT NULL, 
	PRIMARY KEY (id), 
	UNIQUE (name)
);

-- Creating table: ab_permission
CREATE TABLE ab_permission (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	name VARCHAR(100) NOT NULL, 
	PRIMARY KEY (id), 
	UNIQUE (name)
);

-- Creating table: ab_view_menu
CREATE TABLE ab_view_menu (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	name VARCHAR(250) NOT NULL, 
	PRIMARY KEY (id), 
	UNIQUE (name)
);

-- Creating table: ab_permission_view
CREATE TABLE ab_permission_view (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	permission_id INTEGER, 
	view_menu_id INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (permission_id, view_menu_id), 
	FOREIGN KEY(permission_id) REFERENCES ab_permission (id), 
	FOREIGN KEY(view_menu_id) REFERENCES ab_view_menu (id)
);

-- Creating table: ab_register_user
CREATE TABLE ab_register_user (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	first_name VARCHAR(64) NOT NULL, 
	last_name VARCHAR(64) NOT NULL, 
	username VARCHAR(64) NOT NULL, 
	password VARCHAR(256), 
	email VARCHAR(64) NOT NULL, 
	registration_date DATETIME, 
	registration_hash VARCHAR(256), 
	PRIMARY KEY (id), 
	UNIQUE (username)
);

-- Creating table: ab_user_role
CREATE TABLE ab_user_role (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	user_id INTEGER, 
	role_id INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (user_id, role_id), 
	FOREIGN KEY(user_id) REFERENCES ab_user (id), 
	FOREIGN KEY(role_id) REFERENCES ab_role (id)
);

-- Creating table: ab_permission_view_role
CREATE TABLE ab_permission_view_role (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	permission_view_id INTEGER, 
	role_id INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (permission_view_id, role_id), 
	FOREIGN KEY(permission_view_id) REFERENCES ab_permission_view (id), 
	FOREIGN KEY(role_id) REFERENCES ab_role (id)
);

-- Superset Application Tables
-- ======================================================

-- Creating table: cache_keys
CREATE TABLE cache_keys (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	cache_key VARCHAR(256) NOT NULL, 
	cache_timeout INTEGER, 
	datasource_uid VARCHAR(64) NOT NULL, 
	created_on DATETIME, 
	PRIMARY KEY (id)
);

-- Creating table: keyvalue
CREATE TABLE keyvalue (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	value TEXT NOT NULL, 
	PRIMARY KEY (id)
);

-- Creating table: css_templates
CREATE TABLE css_templates (
	uuid BINARY(16), 
	created_on DATETIME, 
	changed_on DATETIME, 
	id INTEGER NOT NULL AUTO_INCREMENT, 
	template_name VARCHAR(250), 
	css TEXT, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (uuid), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
);

-- Creating table: dbs
CREATE TABLE dbs (
	uuid BINARY(16), 
	created_on DATETIME, 
	changed_on DATETIME, 
	id INTEGER NOT NULL AUTO_INCREMENT, 
	verbose_name VARCHAR(250), 
	database_name VARCHAR(250) NOT NULL, 
	sqlalchemy_uri VARCHAR(1024) NOT NULL, 
	password BLOB, 
	cache_timeout INTEGER, 
	select_as_create_table_as BOOL, 
	expose_in_sqllab BOOL, 
	configuration_method VARCHAR(255) DEFAULT 'sqlalchemy_form', 
	allow_run_async BOOL, 
	allow_file_upload BOOL, 
	allow_ctas BOOL, 
	allow_cvas BOOL, 
	allow_dml BOOL, 
	force_ctas_schema VARCHAR(250), 
	extra TEXT, 
	encrypted_extra BLOB, 
	impersonate_user BOOL, 
	server_cert BLOB, 
	is_managed_externally BOOL NOT NULL, 
	external_url TEXT, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (database_name), 
	UNIQUE (uuid), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
);

-- Creating table: database_user_oauth2_tokens
CREATE TABLE database_user_oauth2_tokens (
	created_on DATETIME, 
	changed_on DATETIME, 
	id INTEGER NOT NULL AUTO_INCREMENT, 
	user_id INTEGER NOT NULL, 
	database_id INTEGER NOT NULL, 
	access_token BLOB, 
	access_token_expiration DATETIME, 
	refresh_token BLOB, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES ab_user (id) ON DELETE CASCADE, 
	FOREIGN KEY(database_id) REFERENCES dbs (id) ON DELETE CASCADE, 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
);

-- Creating table: logs
CREATE TABLE logs (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	action VARCHAR(512), 
	user_id INTEGER, 
	dashboard_id INTEGER, 
	slice_id INTEGER, 
	json TEXT, 
	dttm DATETIME, 
	duration_ms INTEGER, 
	referrer VARCHAR(1024), 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES ab_user (id)
);

-- Creating table: favstar
CREATE TABLE favstar (
	uuid BINARY(16), 
	id INTEGER NOT NULL AUTO_INCREMENT, 
	user_id INTEGER, 
	class_name VARCHAR(50), 
	obj_id INTEGER, 
	dttm DATETIME, 
	PRIMARY KEY (id), 
	UNIQUE (uuid), 
	FOREIGN KEY(user_id) REFERENCES ab_user (id)
);

-- Creating table: dynamic_plugin
CREATE TABLE dynamic_plugin (
	created_on DATETIME, 
	changed_on DATETIME, 
	id INTEGER NOT NULL AUTO_INCREMENT, 
	name VARCHAR(512) NOT NULL, 
	`key` VARCHAR(512) NOT NULL, 
	bundle_url VARCHAR(512) NOT NULL, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (name), 
	UNIQUE (`key`), 
	UNIQUE (bundle_url), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
);

-- Creating table: query
CREATE TABLE query (
	extra_json TEXT, 
	id INTEGER NOT NULL AUTO_INCREMENT, 
	client_id VARCHAR(11) NOT NULL, 
	tmp_table_name VARCHAR(256), 
	tmp_schema_name VARCHAR(256), 
	status VARCHAR(16), 
	tab_name VARCHAR(256), 
	sql_editor_id VARCHAR(256), 
	`schema` VARCHAR(256), 
	catalog VARCHAR(256), 
	limiting_factor ENUM('QUERY','DROPDOWN','QUERY_AND_DROPDOWN','NOT_LIMITED','UNKNOWN') DEFAULT 'UNKNOWN', 
	ctas_method VARCHAR(16), 
	results_key VARCHAR(64), 
	start_time NUMERIC(20, 6), 
	start_running_time NUMERIC(20, 6), 
	end_time NUMERIC(20, 6), 
	end_result_backend_time NUMERIC(20, 6), 
	`sql` TEXT, 
	`limit` INTEGER, 
	`rows` INTEGER, 
	database_id INTEGER NOT NULL, 
	user_id INTEGER, 
	select_sql TEXT, 
	executed_sql TEXT, 
	select_as_cta BOOL, 
	select_as_cta_used BOOL, 
	progress INTEGER, 
	error_message TEXT, 
	tracking_url TEXT, 
	changed_on DATETIME, 
	PRIMARY KEY (id), 
	UNIQUE (client_id), 
	FOREIGN KEY(database_id) REFERENCES dbs (id), 
	FOREIGN KEY(user_id) REFERENCES ab_user (id)
);

-- Creating table: saved_query
CREATE TABLE saved_query (
	uuid BINARY(16), 
	created_on DATETIME, 
	changed_on DATETIME, 
	extra_json TEXT, 
	id INTEGER NOT NULL AUTO_INCREMENT, 
	user_id INTEGER, 
	db_id INTEGER, 
	catalog VARCHAR(256), 
	label VARCHAR(256), 
	description TEXT, 
	`schema` VARCHAR(128), 
	`sql` TEXT, 
	`rows` INTEGER, 
	template_parameters TEXT, 
	last_run DATETIME, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (uuid), 
	FOREIGN KEY(user_id) REFERENCES ab_user (id), 
	FOREIGN KEY(db_id) REFERENCES dbs (id), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
);

-- Creating table: tab_state
CREATE TABLE tab_state (
	created_on DATETIME, 
	changed_on DATETIME, 
	extra_json TEXT, 
	id INTEGER NOT NULL AUTO_INCREMENT, 
	user_id INTEGER, 
	label VARCHAR(256), 
	active BOOL, 
	database_id INTEGER, 
	catalog VARCHAR(256), 
	`sql` TEXT, 
	`schema` VARCHAR(256), 
	query_limit INTEGER, 
	latest_query_id VARCHAR(11), 
	autorun BOOL, 
	template_params TEXT, 
	hide_left_bar BOOL, 
	saved_query_id INTEGER, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES ab_user (id), 
	FOREIGN KEY(database_id) REFERENCES dbs (id) ON DELETE CASCADE, 
	FOREIGN KEY(latest_query_id) REFERENCES query (client_id) ON DELETE SET NULL, 
	FOREIGN KEY(saved_query_id) REFERENCES saved_query (id) ON DELETE SET NULL, 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
);

-- Creating table: table_schema
CREATE TABLE table_schema (
	created_on DATETIME, 
	changed_on DATETIME, 
	extra_json TEXT, 
	id INTEGER NOT NULL AUTO_INCREMENT, 
	tab_state_id INTEGER, 
	database_id INTEGER NOT NULL, 
	`schema` VARCHAR(256), 
	`table` VARCHAR(256), 
	catalog VARCHAR(256), 
	description TEXT, 
	expanded BOOL, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	FOREIGN KEY(tab_state_id) REFERENCES tab_state (id) ON DELETE CASCADE, 
	FOREIGN KEY(database_id) REFERENCES dbs (id) ON DELETE CASCADE, 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
);

-- Creating table: dashboards
CREATE TABLE dashboards (
	uuid BINARY(16), 
	created_on DATETIME, 
	changed_on DATETIME, 
	id INTEGER NOT NULL AUTO_INCREMENT, 
	dashboard_title VARCHAR(500), 
	position_json TEXT, 
	description TEXT, 
	css TEXT, 
	certified_by TEXT, 
	certification_details TEXT, 
	json_metadata TEXT, 
	slug VARCHAR(255), 
	published BOOL, 
	is_managed_externally BOOL NOT NULL, 
	external_url TEXT, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (uuid), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
);

-- Creating table: user_attribute
CREATE TABLE user_attribute (
	created_on DATETIME, 
	changed_on DATETIME, 
	id INTEGER NOT NULL AUTO_INCREMENT, 
	user_id INTEGER, 
	welcome_dashboard_id INTEGER, 
	avatar_url VARCHAR(100), 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES ab_user (id), 
	FOREIGN KEY(welcome_dashboard_id) REFERENCES dashboards (id), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
);

-- Creating table: tag
CREATE TABLE tag (
	created_on DATETIME, 
	changed_on DATETIME, 
	id INTEGER NOT NULL AUTO_INCREMENT, 
	name VARCHAR(250), 
	type ENUM('custom','type','owner','favorited_by'), 
	description TEXT, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (name), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
);


-- Creating table: user_favorite_tag
CREATE TABLE user_favorite_tag (
	user_id INTEGER, 
	tag_id INTEGER, 
	FOREIGN KEY(user_id) REFERENCES ab_user (id), 
	FOREIGN KEY(tag_id) REFERENCES tag (id)
);

-- Creating table: slices
CREATE TABLE slices (
	uuid BINARY(16), 
	created_on DATETIME, 
	changed_on DATETIME, 
	id INTEGER NOT NULL AUTO_INCREMENT, 
	slice_name VARCHAR(250), 
	datasource_id INTEGER, 
	datasource_type VARCHAR(200), 
	datasource_name VARCHAR(2000), 
	viz_type VARCHAR(250), 
	params TEXT, 
	query_context TEXT, 
	description TEXT, 
	cache_timeout INTEGER, 
	perm VARCHAR(1000), 
	schema_perm VARCHAR(1000), 
	catalog_perm VARCHAR(1000), 
	last_saved_at DATETIME, 
	last_saved_by_fk INTEGER, 
	certified_by TEXT, 
	certification_details TEXT, 
	is_managed_externally BOOL NOT NULL, 
	external_url TEXT, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (uuid), 
	FOREIGN KEY(last_saved_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
);




-- Creating table: tagged_object
CREATE TABLE tagged_object (
	created_on DATETIME, 
	changed_on DATETIME, 
	id INTEGER NOT NULL AUTO_INCREMENT, 
	tag_id INTEGER, 
	object_id INTEGER, 
	object_type ENUM('query','chart','dashboard','dataset'), 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	CONSTRAINT uix_tagged_object UNIQUE (tag_id, object_id, object_type), 
	FOREIGN KEY(tag_id) REFERENCES tag (id), 
	FOREIGN KEY(object_id) REFERENCES dashboards (id), 
	FOREIGN KEY(object_id) REFERENCES slices (id), 
	FOREIGN KEY(object_id) REFERENCES saved_query (id), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
);

-- Creating table: annotation_layer
CREATE TABLE annotation_layer (
	created_on DATETIME, 
	changed_on DATETIME, 
	id INTEGER NOT NULL AUTO_INCREMENT, 
	name VARCHAR(250), 
	descr TEXT, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
);

-- Creating table: annotation
CREATE TABLE annotation (
	created_on DATETIME, 
	changed_on DATETIME, 
	id INTEGER NOT NULL AUTO_INCREMENT, 
	start_dttm DATETIME, 
	end_dttm DATETIME, 
	layer_id INTEGER NOT NULL, 
	short_descr VARCHAR(500), 
	long_descr TEXT, 
	json_metadata TEXT, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	FOREIGN KEY(layer_id) REFERENCES annotation_layer (id), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
);

-- Creating table: slice_user
CREATE TABLE slice_user (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	user_id INTEGER, 
	slice_id INTEGER, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES ab_user (id) ON DELETE CASCADE, 
	FOREIGN KEY(slice_id) REFERENCES slices (id) ON DELETE CASCADE
);


-- Creating table: tables
CREATE TABLE tables (
	uuid BINARY(16), 
	created_on DATETIME, 
	changed_on DATETIME, 
	id INTEGER NOT NULL AUTO_INCREMENT, 
	description TEXT, 
	default_endpoint TEXT, 
	is_featured BOOL, 
	filter_select_enabled BOOL, 
	offset INTEGER, 
	cache_timeout INTEGER, 
	params VARCHAR(1000), 
	perm VARCHAR(1000), 
	schema_perm VARCHAR(1000), 
	catalog_perm VARCHAR(1000), 
	is_managed_externally BOOL NOT NULL, 
	external_url TEXT, 
	table_name VARCHAR(250) NOT NULL, 
	main_dttm_col VARCHAR(250), 
	database_id INTEGER NOT NULL, 
	fetch_values_predicate TEXT, 
	catalog VARCHAR(256), 
	`sql` TEXT, 
	`schema` VARCHAR(255), 
	is_sqllab_view BOOL, 
	template_params TEXT, 
	extra TEXT, 
	normalize_columns BOOL, 
	always_filter_main_dttm BOOL, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (database_id, catalog, `schema`, table_name), 
	UNIQUE (uuid), 
	FOREIGN KEY(database_id) REFERENCES dbs (id), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
);



-- Creating table: table_columns
CREATE TABLE table_columns (
	uuid BINARY(16), 
	created_on DATETIME, 
	changed_on DATETIME, 
	id INTEGER NOT NULL AUTO_INCREMENT, 
	column_name VARCHAR(255) NOT NULL, 
	verbose_name VARCHAR(1024), 
	is_active BOOL, 
	type TEXT, 
	advanced_data_type VARCHAR(255), 
	groupby BOOL, 
	filterable BOOL, 
	description TEXT, 
	table_id INTEGER, 
	is_dttm BOOL, 
	expression TEXT, 
	python_date_format VARCHAR(255), 
	extra TEXT, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (table_id, column_name), 
	UNIQUE (uuid), 
	FOREIGN KEY(table_id) REFERENCES tables (id) ON DELETE CASCADE, 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
);

-- Creating table: sql_metrics
CREATE TABLE sql_metrics (
	uuid BINARY(16), 
	created_on DATETIME, 
	changed_on DATETIME, 
	id INTEGER NOT NULL AUTO_INCREMENT, 
	metric_name VARCHAR(255) NOT NULL, 
	verbose_name VARCHAR(1024), 
	metric_type VARCHAR(32), 
	description TEXT, 
	d3format VARCHAR(128), 
	currency VARCHAR(128), 
	warning_text TEXT, 
	table_id INTEGER, 
	expression TEXT NOT NULL, 
	extra TEXT, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (table_id, metric_name), 
	UNIQUE (uuid), 
	FOREIGN KEY(table_id) REFERENCES tables (id) ON DELETE CASCADE, 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
);

-- Creating table: sqlatable_user
CREATE TABLE sqlatable_user (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	user_id INTEGER, 
	table_id INTEGER, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES ab_user (id) ON DELETE CASCADE, 
	FOREIGN KEY(table_id) REFERENCES tables (id) ON DELETE CASCADE
);

-- Creating table: row_level_security_filters
CREATE TABLE row_level_security_filters (
	created_on DATETIME, 
	changed_on DATETIME, 
	id INTEGER NOT NULL AUTO_INCREMENT, 
	name VARCHAR(255) NOT NULL, 
	description TEXT, 
	filter_type ENUM('Regular','Base'), 
	group_key VARCHAR(255), 
	clause TEXT NOT NULL, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (name), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
);



-- Creating table: rls_filter_roles
CREATE TABLE rls_filter_roles (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	role_id INTEGER NOT NULL, 
	rls_filter_id INTEGER, 
	PRIMARY KEY (id), 
	FOREIGN KEY(role_id) REFERENCES ab_role (id), 
	FOREIGN KEY(rls_filter_id) REFERENCES row_level_security_filters (id)
);

-- Creating table: rls_filter_tables
CREATE TABLE rls_filter_tables (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	table_id INTEGER, 
	rls_filter_id INTEGER, 
	PRIMARY KEY (id), 
	FOREIGN KEY(table_id) REFERENCES tables (id), 
	FOREIGN KEY(rls_filter_id) REFERENCES row_level_security_filters (id)
);



-- Creating table: dashboard_slices
CREATE TABLE dashboard_slices (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	dashboard_id INTEGER, 
	slice_id INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (dashboard_id, slice_id), 
	FOREIGN KEY(dashboard_id) REFERENCES dashboards (id) ON DELETE CASCADE, 
	FOREIGN KEY(slice_id) REFERENCES slices (id) ON DELETE CASCADE
);

-- Creating table: dashboard_user
CREATE TABLE dashboard_user (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	user_id INTEGER, 
	dashboard_id INTEGER, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES ab_user (id) ON DELETE CASCADE, 
	FOREIGN KEY(dashboard_id) REFERENCES dashboards (id) ON DELETE CASCADE
);

-- Creating table: dashboard_roles
CREATE TABLE dashboard_roles (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	dashboard_id INTEGER NOT NULL, 
	role_id INTEGER NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(dashboard_id) REFERENCES dashboards (id) ON DELETE CASCADE, 
	FOREIGN KEY(role_id) REFERENCES ab_role (id) ON DELETE CASCADE
);

-- Creating table: report_schedule
CREATE TABLE report_schedule (
	created_on DATETIME, 
	changed_on DATETIME, 
	extra_json TEXT, 
	id INTEGER NOT NULL AUTO_INCREMENT, 
	type VARCHAR(50) NOT NULL, 
	name VARCHAR(150) NOT NULL, 
	description TEXT, 
	context_markdown TEXT, 
	active BOOL, 
	crontab VARCHAR(1000) NOT NULL, 
	creation_method VARCHAR(255) DEFAULT 'alerts_reports', 
	timezone VARCHAR(100) NOT NULL, 
	report_format VARCHAR(50), 
	`sql` TEXT, 
	chart_id INTEGER, 
	dashboard_id INTEGER, 
	database_id INTEGER, 
	last_eval_dttm DATETIME, 
	last_state VARCHAR(50), 
	`last_value` FLOAT, 
	last_value_row_json TEXT, 
	validator_type VARCHAR(100), 
	validator_config_json TEXT, 
	log_retention INTEGER, 
	grace_period INTEGER, 
	working_timeout INTEGER, 
	force_screenshot BOOL, 
	custom_width INTEGER, 
	custom_height INTEGER, 
	email_subject VARCHAR(255), 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (name, type), 
	FOREIGN KEY(chart_id) REFERENCES slices (id), 
	FOREIGN KEY(dashboard_id) REFERENCES dashboards (id), 
	FOREIGN KEY(database_id) REFERENCES dbs (id), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
);



-- Creating table: report_schedule_user
CREATE TABLE report_schedule_user (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	user_id INTEGER NOT NULL, 
	report_schedule_id INTEGER NOT NULL, 
	PRIMARY KEY (id), 
	UNIQUE (user_id, report_schedule_id), 
	FOREIGN KEY(user_id) REFERENCES ab_user (id) ON DELETE CASCADE, 
	FOREIGN KEY(report_schedule_id) REFERENCES report_schedule (id) ON DELETE CASCADE
);



-- Creating table: report_recipient
CREATE TABLE report_recipient (
	created_on DATETIME, 
	changed_on DATETIME, 
	id INTEGER NOT NULL AUTO_INCREMENT, 
	type VARCHAR(50) NOT NULL, 
	recipient_config_json TEXT, 
	report_schedule_id INTEGER NOT NULL, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	FOREIGN KEY(report_schedule_id) REFERENCES report_schedule (id), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
);

-- Creating table: report_execution_log
CREATE TABLE report_execution_log (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	uuid BINARY(16), 
	scheduled_dttm DATETIME NOT NULL, 
	start_dttm DATETIME, 
	end_dttm DATETIME, 
	value FLOAT, 
	value_row_json TEXT, 
	state VARCHAR(50) NOT NULL, 
	error_message TEXT, 
	report_schedule_id INTEGER NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(report_schedule_id) REFERENCES report_schedule (id)
);

-- Creating table: ssh_tunnels
CREATE TABLE ssh_tunnels (
	uuid BINARY(16), 
	created_on DATETIME, 
	changed_on DATETIME, 
	extra_json TEXT, 
	id INTEGER NOT NULL AUTO_INCREMENT, 
	database_id INTEGER NOT NULL, 
	server_address TEXT, 
	server_port INTEGER, 
	username BLOB, 
	password BLOB, 
	private_key BLOB, 
	private_key_password BLOB, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (uuid), 
	UNIQUE (database_id), 
	FOREIGN KEY(database_id) REFERENCES dbs (id), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
);

-- Creating table: embedded_dashboards
CREATE TABLE embedded_dashboards (
	created_on DATETIME, 
	changed_on DATETIME, 
	uuid BINARY(16) NOT NULL, 
	allow_domain_list TEXT, 
	dashboard_id INTEGER NOT NULL, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (uuid), 
	FOREIGN KEY(dashboard_id) REFERENCES dashboards (id) ON DELETE CASCADE, 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
);

-- Creating table: key_value
CREATE TABLE key_value (
	uuid BINARY(16), 
	id INTEGER NOT NULL AUTO_INCREMENT, 
	resource VARCHAR(32) NOT NULL, 
	value BLOB(16777215) NOT NULL, 
	created_on DATETIME, 
	created_by_fk INTEGER, 
	changed_on DATETIME, 
	expires_on DATETIME, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (uuid), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
);

-- Creating table: guest_user_tokens
CREATE TABLE guest_user_tokens (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	user_id INTEGER NOT NULL, 
	first_name VARCHAR(100) NOT NULL, 
	last_name VARCHAR(100) NOT NULL, 
	dashboards TEXT, 
	row_level_security TEXT, 
	expiration_date DATETIME NOT NULL, 
	token TEXT NOT NULL, 
	created_on DATETIME, 
	changed_on DATETIME, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
);

-- ======================================================
-- INDEX CREATION STATEMENTS
-- ======================================================

-- Creating index: idx_permission_view_id
CREATE INDEX idx_permission_view_id ON ab_permission_view_role (permission_view_id);

-- Creating index: idx_role_id
CREATE INDEX idx_role_id ON ab_permission_view_role (role_id);

-- Creating index: idx_permission_id
CREATE INDEX idx_permission_id ON ab_permission_view (permission_id);

-- Creating index: idx_view_menu_id
CREATE INDEX idx_view_menu_id ON ab_permission_view (view_menu_id);

-- Creating index: ix_cache_keys_datasource_uid
CREATE INDEX ix_cache_keys_datasource_uid ON cache_keys (datasource_uid);

-- Creating index: idx_user_id_database_id
CREATE INDEX idx_user_id_database_id ON database_user_oauth2_tokens (user_id, database_id);

-- Creating index: ti_user_id_changed_on
CREATE INDEX ti_user_id_changed_on ON query (user_id, changed_on);

-- Creating index: ix_query_results_key
CREATE INDEX ix_query_results_key ON query (results_key);

-- Creating index: ix_query_sql_editor_id
CREATE INDEX ix_query_sql_editor_id ON query (sql_editor_id);

-- Creating index: ti_dag_state
CREATE INDEX ti_dag_state ON annotation (layer_id, start_dttm, end_dttm);

-- Creating index: ix_report_schedule_active
CREATE INDEX ix_report_schedule_active ON report_schedule (active);

-- Creating index: ix_report_recipient_report_schedule_id
CREATE INDEX ix_report_recipient_report_schedule_id ON report_recipient (report_schedule_id);

-- Creating index: ix_report_execution_log_report_schedule_id
CREATE INDEX ix_report_execution_log_report_schedule_id ON report_execution_log (report_schedule_id);

-- Creating index: ix_report_execution_log_start_dttm
CREATE INDEX ix_report_execution_log_start_dttm ON report_execution_log (start_dttm);

-- ======================================================
-- DDL SCRIPT GENERATION COMPLETED
-- ======================================================
