
-- SELECT pg_terminate_backend(pid)
-- FROM pg_stat_activity
-- WHERE datname = 'art_test' AND pid <> pg_backend_pid();


-- drop database art_test;
-- create database art_test;


-- Loaded your LOCAL configuration at [D:\ART_Package_V3\LocalFiles\superset_config.py]
-- Universal DDL Script for POSTGRESQL Database
-- Generated from Superset Application
-- Tables ordered by dependency resolution
-- ======================================================


-- ======================================================
-- ANALYZING TABLE DEPENDENCIES
-- ======================================================
-- Dependency resolution completed. 44 tables ordered.
-- Creation order: ab_role -> ab_user -> ab_permission -> ab_view_menu -> ab_user_role -> css_templates -> dbs -> logs -> favstar -> dynamic_plugin -> tag -> annotation_layer -> slices -> row_level_security_filters -> dashboards -> key_value -> guest_user_tokens -> ab_permission_view -> database_user_oauth2_tokens -> query -> saved_query -> tables -> ssh_tunnels -> user_favorite_tag -> annotation -> slice_user -> rls_filter_roles -> user_attribute -> dashboard_slices -> dashboard_user -> dashboard_roles -> report_schedule -> embedded_dashboards -> ab_permission_view_role -> tab_state -> tagged_object -> table_columns -> sql_metrics -> sqlatable_user -> rls_filter_tables -> report_schedule_user -> report_recipient -> report_execution_log -> table_schema

-- ======================================================
-- ENUM TYPE CREATION (PostgreSQL only)
-- ======================================================

-- LimitingFactor enum for query limiting
DO $$ BEGIN
    CREATE TYPE limitingfactor AS ENUM (
        'QUERY',
        'DROPDOWN',
        'QUERY_AND_DROPDOWN',
        'NOT_LIMITED',
        'UNKNOWN'
    );
EXCEPTION
    WHEN duplicate_object THEN null;
END $$;

-- Creating enum: tagtype
DO $$ BEGIN
    CREATE TYPE tagtype AS ENUM (
        'custom',
        'type',
        'owner',
        'favorited_by'
    );
EXCEPTION
    WHEN duplicate_object THEN null;
END $$;

-- Creating enum: filter_type_enum
DO $$ BEGIN
    CREATE TYPE filter_type_enum AS ENUM (
        'Regular',
        'Base'
    );
EXCEPTION
    WHEN duplicate_object THEN null;
END $$;

-- Creating enum: objecttype
DO $$ BEGIN
    CREATE TYPE objecttype AS ENUM (
        'query',
        'chart',
        'dashboard',
        'dataset'
    );
EXCEPTION
    WHEN duplicate_object THEN null;
END $$;

-- ======================================================
-- TABLE CREATION STATEMENTS (Dependency Ordered)
-- ======================================================

-- Creating table: ab_role
-- Dependencies: None
CREATE TABLE ab_role (
	id SERIAL, 
	name VARCHAR(64) NOT NULL, 
	PRIMARY KEY (id), 
	UNIQUE (name)
);

-- Creating table: ab_user
-- Dependencies: None
CREATE TABLE ab_user (
	id SERIAL, 
	first_name VARCHAR(64) NOT NULL, 
	last_name VARCHAR(64) NOT NULL, 
	username VARCHAR(64) NOT NULL, 
	password VARCHAR(256), 
	active BOOLEAN, 
	email VARCHAR(320) NOT NULL, 
	last_login TIMESTAMP WITHOUT TIME ZONE, 
	login_count INTEGER, 
	fail_login_count INTEGER, 
	created_on TIMESTAMP WITHOUT TIME ZONE, 
	changed_on TIMESTAMP WITHOUT TIME ZONE, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (username), 
	UNIQUE (email), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
);

-- Creating table: ab_permission
-- Dependencies: None
CREATE TABLE ab_permission (
	id SERIAL, 
	name VARCHAR(100) NOT NULL, 
	PRIMARY KEY (id), 
	UNIQUE (name)
);

-- Creating table: ab_view_menu
-- Dependencies: None
CREATE TABLE ab_view_menu (
	id SERIAL, 
	name VARCHAR(250) NOT NULL, 
	PRIMARY KEY (id), 
	UNIQUE (name)
);

-- Creating table: ab_user_role
-- Dependencies: ab_user, ab_role
CREATE TABLE ab_user_role (
	id SERIAL, 
	user_id INTEGER, 
	role_id INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (user_id, role_id), 
	FOREIGN KEY(user_id) REFERENCES ab_user (id), 
	FOREIGN KEY(role_id) REFERENCES ab_role (id)
);

-- Creating table: css_templates
-- Dependencies: ab_user, ab_user
CREATE TABLE css_templates (
	uuid UUID, 
	created_on TIMESTAMP WITHOUT TIME ZONE, 
	changed_on TIMESTAMP WITHOUT TIME ZONE, 
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	template_name VARCHAR(250), 
	css TEXT, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (uuid), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
);

-- Creating table: dbs
-- Dependencies: ab_user, ab_user
CREATE TABLE dbs (
	uuid UUID, 
	created_on TIMESTAMP WITHOUT TIME ZONE, 
	changed_on TIMESTAMP WITHOUT TIME ZONE, 
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	verbose_name VARCHAR(250), 
	database_name VARCHAR(250) NOT NULL, 
	sqlalchemy_uri VARCHAR(1024) NOT NULL, 
	password BYTEA, 
	cache_timeout INTEGER, 
	select_as_create_table_as BOOLEAN, 
	expose_in_sqllab BOOLEAN, 
	configuration_method VARCHAR(255) DEFAULT 'sqlalchemy_form', 
	allow_run_async BOOLEAN, 
	allow_file_upload BOOLEAN, 
	allow_ctas BOOLEAN, 
	allow_cvas BOOLEAN, 
	allow_dml BOOLEAN, 
	force_ctas_schema VARCHAR(250), 
	extra TEXT, 
	encrypted_extra BYTEA, 
	impersonate_user BOOLEAN, 
	server_cert BYTEA, 
	is_managed_externally BOOLEAN NOT NULL, 
	external_url TEXT, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (database_name), 
	UNIQUE (uuid), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
);

-- Creating table: logs
-- Dependencies: ab_user
CREATE TABLE logs (
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	action VARCHAR(512), 
	user_id INTEGER, 
	dashboard_id INTEGER, 
	slice_id INTEGER, 
	json TEXT, 
	dttm TIMESTAMP WITHOUT TIME ZONE, 
	duration_ms INTEGER, 
	referrer VARCHAR(1024), 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES ab_user (id)
);

-- Creating table: favstar
-- Dependencies: ab_user
CREATE TABLE favstar (
	uuid UUID, 
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	user_id INTEGER, 
	class_name VARCHAR(50), 
	obj_id INTEGER, 
	dttm TIMESTAMP WITHOUT TIME ZONE, 
	PRIMARY KEY (id), 
	UNIQUE (uuid), 
	FOREIGN KEY(user_id) REFERENCES ab_user (id)
);

-- Creating table: dynamic_plugin
-- Dependencies: ab_user, ab_user
CREATE TABLE dynamic_plugin (
	created_on TIMESTAMP WITHOUT TIME ZONE, 
	changed_on TIMESTAMP WITHOUT TIME ZONE, 
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	name VARCHAR(512) NOT NULL, 
	key VARCHAR(512) NOT NULL, 
	bundle_url VARCHAR(512) NOT NULL, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (name), 
	UNIQUE (key), 
	UNIQUE (bundle_url), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
);

-- Creating table: tag
-- Dependencies: ab_user, ab_user
CREATE TABLE tag (
	created_on TIMESTAMP WITHOUT TIME ZONE, 
	changed_on TIMESTAMP WITHOUT TIME ZONE, 
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	name VARCHAR(250), 
	type tagtype, 
	description TEXT, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (name), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
);

-- Creating table: annotation_layer
-- Dependencies: ab_user, ab_user
CREATE TABLE annotation_layer (
	created_on TIMESTAMP WITHOUT TIME ZONE, 
	changed_on TIMESTAMP WITHOUT TIME ZONE, 
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	name VARCHAR(250), 
	descr TEXT, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
);

-- Creating table: slices
-- Dependencies: ab_user, ab_user, ab_user
CREATE TABLE slices (
	uuid UUID, 
	created_on TIMESTAMP WITHOUT TIME ZONE, 
	changed_on TIMESTAMP WITHOUT TIME ZONE, 
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	slice_name VARCHAR(250), 
	datasource_id INTEGER, 
	datasource_type VARCHAR(200), 
	datasource_name VARCHAR(2000), 
	viz_type VARCHAR(250), 
	params TEXT, 
	query_context TEXT, 
	description TEXT, 
	cache_timeout INTEGER, 
	perm VARCHAR(1000), 
	schema_perm VARCHAR(1000), 
	catalog_perm VARCHAR(1000), 
	last_saved_at TIMESTAMP WITHOUT TIME ZONE, 
	last_saved_by_fk INTEGER, 
	certified_by TEXT, 
	certification_details TEXT, 
	is_managed_externally BOOLEAN NOT NULL, 
	external_url TEXT, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (uuid), 
	FOREIGN KEY(last_saved_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
);

-- Creating table: row_level_security_filters
-- Dependencies: ab_user, ab_user
CREATE TABLE row_level_security_filters (
	created_on TIMESTAMP WITHOUT TIME ZONE, 
	changed_on TIMESTAMP WITHOUT TIME ZONE, 
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	name VARCHAR(255) NOT NULL, 
	description TEXT, 
	filter_type filter_type_enum, 
	group_key VARCHAR(255), 
	clause TEXT NOT NULL, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (name), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
);

-- Creating table: dashboards
-- Dependencies: ab_user, ab_user
CREATE TABLE dashboards (
	uuid UUID, 
	created_on TIMESTAMP WITHOUT TIME ZONE, 
	changed_on TIMESTAMP WITHOUT TIME ZONE, 
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	dashboard_title VARCHAR(500), 
	position_json TEXT, 
	description TEXT, 
	css TEXT, 
	certified_by TEXT, 
	certification_details TEXT, 
	json_metadata TEXT, 
	slug VARCHAR(255), 
	published BOOLEAN, 
	is_managed_externally BOOLEAN NOT NULL, 
	external_url TEXT, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (uuid), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
);

-- Creating table: key_value
-- Dependencies: ab_user, ab_user
CREATE TABLE key_value (
	uuid UUID, 
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	resource VARCHAR(32) NOT NULL, 
	value BYTEA NOT NULL, 
	created_on TIMESTAMP WITHOUT TIME ZONE, 
	created_by_fk INTEGER, 
	changed_on TIMESTAMP WITHOUT TIME ZONE, 
	expires_on TIMESTAMP WITHOUT TIME ZONE, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (uuid), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
);

-- Creating table: guest_user_tokens
-- Dependencies: ab_user, ab_user
CREATE TABLE guest_user_tokens (
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	user_id SERIAL, 
	first_name VARCHAR(100) NOT NULL, 
	last_name VARCHAR(100) NOT NULL, 
	dashboards TEXT, 
	row_level_security TEXT, 
	expiration_date TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
	token TEXT NOT NULL, 
	created_on TIMESTAMP WITHOUT TIME ZONE, 
	changed_on TIMESTAMP WITHOUT TIME ZONE, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
);

-- Creating table: ab_permission_view
-- Dependencies: ab_view_menu, ab_permission
CREATE TABLE ab_permission_view (
	id SERIAL, 
	permission_id INTEGER, 
	view_menu_id INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (permission_id, view_menu_id), 
	FOREIGN KEY(permission_id) REFERENCES ab_permission (id), 
	FOREIGN KEY(view_menu_id) REFERENCES ab_view_menu (id)
);

-- Creating table: database_user_oauth2_tokens
-- Dependencies: ab_user, ab_user, dbs, ab_user
CREATE TABLE database_user_oauth2_tokens (
	created_on TIMESTAMP WITHOUT TIME ZONE, 
	changed_on TIMESTAMP WITHOUT TIME ZONE, 
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	user_id SERIAL, 
	database_id SERIAL, 
	access_token BYTEA, 
	access_token_expiration TIMESTAMP WITHOUT TIME ZONE, 
	refresh_token BYTEA, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES ab_user (id) ON DELETE CASCADE, 
	FOREIGN KEY(database_id) REFERENCES dbs (id) ON DELETE CASCADE, 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
);

-- Creating table: query
-- Dependencies: ab_user, dbs
CREATE TABLE query (
	extra_json TEXT, 
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	client_id VARCHAR(11) NOT NULL, 
	tmp_table_name VARCHAR(256), 
	tmp_schema_name VARCHAR(256), 
	status VARCHAR(16), 
	tab_name VARCHAR(256), 
	sql_editor_id VARCHAR(256), 
	schema VARCHAR(256), 
	catalog VARCHAR(256), 
	limiting_factor limitingfactor DEFAULT 'UNKNOWN', 
	ctas_method VARCHAR(16), 
	results_key VARCHAR(64), 
	start_time NUMERIC(20, 6), 
	start_running_time NUMERIC(20, 6), 
	end_time NUMERIC(20, 6), 
	end_result_backend_time NUMERIC(20, 6), 
	sql TEXT, 
	"limit" INTEGER, 
	rows INTEGER, 
	database_id SERIAL, 
	user_id INTEGER, 
	select_sql TEXT, 
	executed_sql TEXT, 
	select_as_cta BOOLEAN, 
	select_as_cta_used BOOLEAN, 
	progress INTEGER, 
	error_message TEXT, 
	tracking_url TEXT, 
	changed_on TIMESTAMP WITHOUT TIME ZONE, 
	PRIMARY KEY (id), 
	UNIQUE (client_id), 
	FOREIGN KEY(database_id) REFERENCES dbs (id), 
	FOREIGN KEY(user_id) REFERENCES ab_user (id)
);

-- Creating table: saved_query
-- Dependencies: ab_user, ab_user, ab_user, dbs
CREATE TABLE saved_query (
	uuid UUID, 
	created_on TIMESTAMP WITHOUT TIME ZONE, 
	changed_on TIMESTAMP WITHOUT TIME ZONE, 
	extra_json TEXT, 
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	user_id INTEGER, 
	db_id INTEGER, 
	catalog VARCHAR(256), 
	label VARCHAR(256), 
	description TEXT, 
	schema VARCHAR(128), 
	sql TEXT, 
	rows INTEGER, 
	template_parameters TEXT, 
	last_run TIMESTAMP WITHOUT TIME ZONE, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (uuid), 
	FOREIGN KEY(user_id) REFERENCES ab_user (id), 
	FOREIGN KEY(db_id) REFERENCES dbs (id), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
);

-- Creating table: tables
-- Dependencies: ab_user, dbs, ab_user
CREATE TABLE tables (
	uuid UUID, 
	created_on TIMESTAMP WITHOUT TIME ZONE, 
	changed_on TIMESTAMP WITHOUT TIME ZONE, 
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	description TEXT, 
	default_endpoint TEXT, 
	is_featured BOOLEAN, 
	filter_select_enabled BOOLEAN, 
	"offset" INTEGER, 
	cache_timeout INTEGER, 
	params VARCHAR(1000), 
	perm VARCHAR(1000), 
	schema_perm VARCHAR(1000), 
	catalog_perm VARCHAR(1000), 
	is_managed_externally BOOLEAN NOT NULL, 
	external_url TEXT, 
	table_name VARCHAR(250) NOT NULL, 
	main_dttm_col VARCHAR(250), 
	database_id SERIAL, 
	fetch_values_predicate TEXT, 
	catalog VARCHAR(256), 
	sql TEXT, 
	schema VARCHAR(255), 
	is_sqllab_view BOOLEAN, 
	template_params TEXT, 
	extra TEXT, 
	normalize_columns BOOLEAN, 
	always_filter_main_dttm BOOLEAN, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (database_id, catalog, schema, table_name), 
	UNIQUE (uuid), 
	FOREIGN KEY(database_id) REFERENCES dbs (id), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
);

-- Creating table: ssh_tunnels
-- Dependencies: ab_user, dbs, ab_user
CREATE TABLE ssh_tunnels (
	uuid UUID, 
	created_on TIMESTAMP WITHOUT TIME ZONE, 
	changed_on TIMESTAMP WITHOUT TIME ZONE, 
	extra_json TEXT, 
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	database_id SERIAL, 
	server_address TEXT, 
	server_port INTEGER, 
	username BYTEA, 
	password BYTEA, 
	private_key BYTEA, 
	private_key_password BYTEA, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (uuid), 
	UNIQUE (database_id), 
	FOREIGN KEY(database_id) REFERENCES dbs (id), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
);

-- Creating table: user_favorite_tag
-- Dependencies: tag, ab_user
CREATE TABLE user_favorite_tag (
	user_id INTEGER, 
	tag_id INTEGER, 
	FOREIGN KEY(user_id) REFERENCES ab_user (id), 
	FOREIGN KEY(tag_id) REFERENCES tag (id)
);

-- Creating table: annotation
-- Dependencies: ab_user, annotation_layer, ab_user
CREATE TABLE annotation (
	created_on TIMESTAMP WITHOUT TIME ZONE, 
	changed_on TIMESTAMP WITHOUT TIME ZONE, 
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	start_dttm TIMESTAMP WITHOUT TIME ZONE, 
	end_dttm TIMESTAMP WITHOUT TIME ZONE, 
	layer_id SERIAL, 
	short_descr VARCHAR(500), 
	long_descr TEXT, 
	json_metadata TEXT, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	FOREIGN KEY(layer_id) REFERENCES annotation_layer (id), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
);

-- Creating table: slice_user
-- Dependencies: ab_user, slices
CREATE TABLE slice_user (
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	user_id INTEGER, 
	slice_id INTEGER, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES ab_user (id) ON DELETE CASCADE, 
	FOREIGN KEY(slice_id) REFERENCES slices (id) ON DELETE CASCADE
);

-- Creating table: rls_filter_roles
-- Dependencies: ab_role, row_level_security_filters
CREATE TABLE rls_filter_roles (
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	role_id SERIAL, 
	rls_filter_id INTEGER, 
	PRIMARY KEY (id), 
	FOREIGN KEY(role_id) REFERENCES ab_role (id), 
	FOREIGN KEY(rls_filter_id) REFERENCES row_level_security_filters (id)
);

-- Creating table: user_attribute
-- Dependencies: ab_user, ab_user, dashboards, ab_user
CREATE TABLE user_attribute (
	created_on TIMESTAMP WITHOUT TIME ZONE, 
	changed_on TIMESTAMP WITHOUT TIME ZONE, 
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	user_id INTEGER, 
	welcome_dashboard_id INTEGER, 
	avatar_url VARCHAR(100), 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES ab_user (id), 
	FOREIGN KEY(welcome_dashboard_id) REFERENCES dashboards (id), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
);

-- Creating table: dashboard_slices
-- Dependencies: dashboards, slices
CREATE TABLE dashboard_slices (
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	dashboard_id INTEGER, 
	slice_id INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (dashboard_id, slice_id), 
	FOREIGN KEY(dashboard_id) REFERENCES dashboards (id) ON DELETE CASCADE, 
	FOREIGN KEY(slice_id) REFERENCES slices (id) ON DELETE CASCADE
);

-- Creating table: dashboard_user
-- Dependencies: ab_user, dashboards
CREATE TABLE dashboard_user (
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	user_id INTEGER, 
	dashboard_id INTEGER, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES ab_user (id) ON DELETE CASCADE, 
	FOREIGN KEY(dashboard_id) REFERENCES dashboards (id) ON DELETE CASCADE
);

-- Creating table: dashboard_roles
-- Dependencies: dashboards, ab_role
CREATE TABLE dashboard_roles (
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	dashboard_id SERIAL, 
	role_id SERIAL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(dashboard_id) REFERENCES dashboards (id) ON DELETE CASCADE, 
	FOREIGN KEY(role_id) REFERENCES ab_role (id) ON DELETE CASCADE
);

-- Creating table: report_schedule
-- Dependencies: dashboards, dbs, ab_user, slices, ab_user
CREATE TABLE report_schedule (
	created_on TIMESTAMP WITHOUT TIME ZONE, 
	changed_on TIMESTAMP WITHOUT TIME ZONE, 
	extra_json TEXT, 
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	type VARCHAR(50) NOT NULL, 
	name VARCHAR(150) NOT NULL, 
	description TEXT, 
	context_markdown TEXT, 
	active BOOLEAN, 
	crontab VARCHAR(1000) NOT NULL, 
	creation_method VARCHAR(255) DEFAULT 'alerts_reports', 
	timezone VARCHAR(100) NOT NULL, 
	report_format VARCHAR(50), 
	sql TEXT, 
	chart_id INTEGER, 
	dashboard_id INTEGER, 
	database_id INTEGER, 
	last_eval_dttm TIMESTAMP WITHOUT TIME ZONE, 
	last_state VARCHAR(50), 
	last_value FLOAT, 
	last_value_row_json TEXT, 
	validator_type VARCHAR(100), 
	validator_config_json TEXT, 
	log_retention INTEGER, 
	grace_period INTEGER, 
	working_timeout INTEGER, 
	force_screenshot BOOLEAN, 
	custom_width INTEGER, 
	custom_height INTEGER, 
	email_subject VARCHAR(255), 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (name, type), 
	FOREIGN KEY(chart_id) REFERENCES slices (id), 
	FOREIGN KEY(dashboard_id) REFERENCES dashboards (id), 
	FOREIGN KEY(database_id) REFERENCES dbs (id), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
);

-- Creating table: embedded_dashboards
-- Dependencies: ab_user, ab_user, dashboards
CREATE TABLE embedded_dashboards (
	created_on TIMESTAMP WITHOUT TIME ZONE, 
	changed_on TIMESTAMP WITHOUT TIME ZONE, 
	uuid UUID NOT NULL, 
	allow_domain_list TEXT, 
	dashboard_id SERIAL, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (uuid), 
	FOREIGN KEY(dashboard_id) REFERENCES dashboards (id) ON DELETE CASCADE, 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
);

-- Creating table: ab_permission_view_role
-- Dependencies: ab_permission_view, ab_role
CREATE TABLE ab_permission_view_role (
	id SERIAL, 
	permission_view_id INTEGER, 
	role_id INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (permission_view_id, role_id), 
	FOREIGN KEY(permission_view_id) REFERENCES ab_permission_view (id), 
	FOREIGN KEY(role_id) REFERENCES ab_role (id)
);

-- Creating table: tab_state
-- Dependencies: ab_user, ab_user, query, dbs, saved_query, ab_user
CREATE TABLE tab_state (
	created_on TIMESTAMP WITHOUT TIME ZONE, 
	changed_on TIMESTAMP WITHOUT TIME ZONE, 
	extra_json TEXT, 
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	user_id INTEGER, 
	label VARCHAR(256), 
	active BOOLEAN, 
	database_id INTEGER, 
	catalog VARCHAR(256), 
	sql TEXT, 
	schema VARCHAR(256), 
	query_limit INTEGER, 
	latest_query_id VARCHAR(11), 
	autorun BOOLEAN, 
	template_params TEXT, 
	hide_left_bar BOOLEAN, 
	saved_query_id INTEGER, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES ab_user (id), 
	FOREIGN KEY(database_id) REFERENCES dbs (id) ON DELETE CASCADE, 
	FOREIGN KEY(latest_query_id) REFERENCES query (client_id) ON DELETE SET NULL, 
	FOREIGN KEY(saved_query_id) REFERENCES saved_query (id) ON DELETE SET NULL, 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
);

-- Creating table: tagged_object
-- Dependencies: slices, tag, ab_user, ab_user, saved_query, dashboards
CREATE TABLE tagged_object (
	created_on TIMESTAMP WITHOUT TIME ZONE, 
	changed_on TIMESTAMP WITHOUT TIME ZONE, 
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	tag_id INTEGER, 
	object_id INTEGER, 
	object_type objecttype, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	CONSTRAINT uix_tagged_object UNIQUE (tag_id, object_id, object_type), 
	FOREIGN KEY(tag_id) REFERENCES tag (id), 
	FOREIGN KEY(object_id) REFERENCES dashboards (id), 
	FOREIGN KEY(object_id) REFERENCES slices (id), 
	FOREIGN KEY(object_id) REFERENCES saved_query (id), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
);

-- Creating table: table_columns
-- Dependencies: ab_user, ab_user, tables
CREATE TABLE table_columns (
	uuid UUID, 
	created_on TIMESTAMP WITHOUT TIME ZONE, 
	changed_on TIMESTAMP WITHOUT TIME ZONE, 
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	column_name VARCHAR(255) NOT NULL, 
	verbose_name VARCHAR(1024), 
	is_active BOOLEAN, 
	type TEXT, 
	advanced_data_type VARCHAR(255), 
	groupby BOOLEAN, 
	filterable BOOLEAN, 
	description TEXT, 
	table_id INTEGER, 
	is_dttm BOOLEAN, 
	expression TEXT, 
	python_date_format VARCHAR(255), 
	extra TEXT, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (table_id, column_name), 
	UNIQUE (uuid), 
	FOREIGN KEY(table_id) REFERENCES tables (id) ON DELETE CASCADE, 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
);

-- Creating table: sql_metrics
-- Dependencies: tables, ab_user, ab_user
CREATE TABLE sql_metrics (
	uuid UUID, 
	created_on TIMESTAMP WITHOUT TIME ZONE, 
	changed_on TIMESTAMP WITHOUT TIME ZONE, 
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	metric_name VARCHAR(255) NOT NULL, 
	verbose_name VARCHAR(1024), 
	metric_type VARCHAR(32), 
	description TEXT, 
	d3format VARCHAR(128), 
	currency VARCHAR(128), 
	warning_text TEXT, 
	table_id INTEGER, 
	expression TEXT NOT NULL, 
	extra TEXT, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (table_id, metric_name), 
	UNIQUE (uuid), 
	FOREIGN KEY(table_id) REFERENCES tables (id) ON DELETE CASCADE, 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
);

-- Creating table: sqlatable_user
-- Dependencies: tables, ab_user
CREATE TABLE sqlatable_user (
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	user_id INTEGER, 
	table_id INTEGER, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES ab_user (id) ON DELETE CASCADE, 
	FOREIGN KEY(table_id) REFERENCES tables (id) ON DELETE CASCADE
);

-- Creating table: rls_filter_tables
-- Dependencies: row_level_security_filters, tables
CREATE TABLE rls_filter_tables (
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	table_id INTEGER, 
	rls_filter_id INTEGER, 
	PRIMARY KEY (id), 
	FOREIGN KEY(table_id) REFERENCES tables (id), 
	FOREIGN KEY(rls_filter_id) REFERENCES row_level_security_filters (id)
);

-- Creating table: report_schedule_user
-- Dependencies: report_schedule, ab_user
CREATE TABLE report_schedule_user (
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	user_id SERIAL, 
	report_schedule_id SERIAL, 
	PRIMARY KEY (id), 
	UNIQUE (user_id, report_schedule_id), 
	FOREIGN KEY(user_id) REFERENCES ab_user (id) ON DELETE CASCADE, 
	FOREIGN KEY(report_schedule_id) REFERENCES report_schedule (id) ON DELETE CASCADE
);

-- Creating table: report_recipient
-- Dependencies: report_schedule, ab_user, ab_user
CREATE TABLE report_recipient (
	created_on TIMESTAMP WITHOUT TIME ZONE, 
	changed_on TIMESTAMP WITHOUT TIME ZONE, 
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	type VARCHAR(50) NOT NULL, 
	recipient_config_json TEXT, 
	report_schedule_id SERIAL, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	FOREIGN KEY(report_schedule_id) REFERENCES report_schedule (id), 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
);

-- Creating table: report_execution_log
-- Dependencies: report_schedule
CREATE TABLE report_execution_log (
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	uuid UUID, 
	scheduled_dttm TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
	start_dttm TIMESTAMP WITHOUT TIME ZONE, 
	end_dttm TIMESTAMP WITHOUT TIME ZONE, 
	value FLOAT, 
	value_row_json TEXT, 
	state VARCHAR(50) NOT NULL, 
	error_message TEXT, 
	report_schedule_id SERIAL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(report_schedule_id) REFERENCES report_schedule (id)
);

-- Creating table: table_schema
-- Dependencies: ab_user, ab_user, tab_state, dbs
CREATE TABLE table_schema (
	created_on TIMESTAMP WITHOUT TIME ZONE, 
	changed_on TIMESTAMP WITHOUT TIME ZONE, 
	extra_json TEXT, 
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	tab_state_id INTEGER, 
	database_id SERIAL, 
	schema VARCHAR(256), 
	"table" VARCHAR(256), 
	catalog VARCHAR(256), 
	description TEXT, 
	expanded BOOLEAN, 
	created_by_fk INTEGER, 
	changed_by_fk INTEGER, 
	PRIMARY KEY (id), 
	FOREIGN KEY(tab_state_id) REFERENCES tab_state (id) ON DELETE CASCADE, 
	FOREIGN KEY(database_id) REFERENCES dbs (id) ON DELETE CASCADE, 
	FOREIGN KEY(created_by_fk) REFERENCES ab_user (id), 
	FOREIGN KEY(changed_by_fk) REFERENCES ab_user (id)
);

-- Creating orphaned table: ab_register_user
CREATE TABLE ab_register_user (
	id SERIAL, 
	first_name VARCHAR(64) NOT NULL, 
	last_name VARCHAR(64) NOT NULL, 
	username VARCHAR(64) NOT NULL, 
	password VARCHAR(256), 
	email VARCHAR(64) NOT NULL, 
	registration_date TIMESTAMP WITHOUT TIME ZONE, 
	registration_hash VARCHAR(256), 
	PRIMARY KEY (id), 
	UNIQUE (username)
);

-- Creating orphaned table: cache_keys
CREATE TABLE cache_keys (
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	cache_key VARCHAR(256) NOT NULL, 
	cache_timeout INTEGER, 
	datasource_uid VARCHAR(64) NOT NULL, 
	created_on TIMESTAMP WITHOUT TIME ZONE, 
	PRIMARY KEY (id)
);

-- Creating orphaned table: keyvalue
CREATE TABLE keyvalue (
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
	value TEXT NOT NULL, 
	PRIMARY KEY (id)
);

-- ======================================================
-- SEQUENCE NOTES (PostgreSQL)
-- ======================================================
-- PostgreSQL automatically creates sequences for SERIAL/BIGSERIAL columns
-- No manual sequence creation needed

-- ======================================================
-- INDEX CREATION STATEMENTS
-- ======================================================

-- Creating index: idx_view_menu_id on table ab_permission_view
CREATE INDEX IF NOT EXISTS idx_view_menu_id ON ab_permission_view (view_menu_id);

-- Creating index: idx_permission_id on table ab_permission_view
CREATE INDEX IF NOT EXISTS idx_permission_id ON ab_permission_view (permission_id);

-- Creating index: idx_permission_view_id on table ab_permission_view_role
CREATE INDEX IF NOT EXISTS idx_permission_view_id ON ab_permission_view_role (permission_view_id);

-- Creating index: idx_role_id on table ab_permission_view_role
CREATE INDEX IF NOT EXISTS idx_role_id ON ab_permission_view_role (role_id);

-- Creating index: ix_cache_keys_datasource_uid on table cache_keys
CREATE INDEX IF NOT EXISTS ix_cache_keys_datasource_uid ON cache_keys (datasource_uid);

-- Creating index: idx_user_id_database_id on table database_user_oauth2_tokens
CREATE INDEX IF NOT EXISTS idx_user_id_database_id ON database_user_oauth2_tokens (user_id, database_id);

-- Creating index: ix_query_sql_editor_id on table query
CREATE INDEX IF NOT EXISTS ix_query_sql_editor_id ON query (sql_editor_id);

-- Creating index: ti_user_id_changed_on on table query
CREATE INDEX IF NOT EXISTS ti_user_id_changed_on ON query (user_id, changed_on);

-- Creating index: ix_query_results_key on table query
CREATE INDEX IF NOT EXISTS ix_query_results_key ON query (results_key);

-- Creating index: ti_dag_state on table annotation
CREATE INDEX IF NOT EXISTS ti_dag_state ON annotation (layer_id, start_dttm, end_dttm);

-- Creating index: ix_report_schedule_active on table report_schedule
CREATE INDEX IF NOT EXISTS ix_report_schedule_active ON report_schedule (active);

-- Creating index: ix_report_recipient_report_schedule_id on table report_recipient
CREATE INDEX IF NOT EXISTS ix_report_recipient_report_schedule_id ON report_recipient (report_schedule_id);

-- Creating index: ix_report_execution_log_report_schedule_id on table report_execution_log
CREATE INDEX IF NOT EXISTS ix_report_execution_log_report_schedule_id ON report_execution_log (report_schedule_id);

-- Creating index: ix_report_execution_log_start_dttm on table report_execution_log
CREATE INDEX IF NOT EXISTS ix_report_execution_log_start_dttm ON report_execution_log (start_dttm);

-- Index creation summary: 14 created, 0 skipped due to errors

-- ======================================================
-- DDL SCRIPT GENERATION COMPLETED
-- ======================================================
